
    <div class="container-fluid">
        
        <header class="row widget" >
            <div style = "color: white" class="container">
                <h3  style=" font-size: 50px; text-align:center;  font-style:italic;" ></span>Solicitudes de Complejos</h3>
            </div>
        </header>
        
         
        <table ng-table="vm.tableParams" class="table" show-filter="true">
            <tr ng-repeat="user in $data">
                <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
                    {{user.name}}
                </td>
                <td title="'Age'" filter="{ age: 'number'}" sortable="'age'">
                    {{user.age}}
                </td>
            </tr>
        </table>
        
        
      
    </div>