        <div id="container" ng-controller="MainController as main">
            <!-- <Menu> -->
            <nav class="navbar navbar-default2" style="margin-top: 0px">    
                <div class="col-md-12" >
                    <div class="collapse navbar-collapse" id="navbar-collapse">
                        <!--<div class="pull-left">
                            <a href="" class="" role="application"><h4>Qué vas a buscar?</h4></a>
                        </div>-->

                        <ul class="nav navbar-nav">
                            <li ui-sref-active="Admin">
                                <a ui-sref="Admin.administracion">Administrar Dueños Pendientes</a>
                            </li>
                             <li ui-sref-active="Admin">
                                <a ui-sref="Admin.bloqueados">Usuarios Bloqueados</a>
                            </li>
                        </ul>

                    </div>
                </div>    
            </nav>

              
                 
               
               
            <!-- </Menu> -->
            
            <div class="container" ui-view></div>

            </div>

<br>