
    <div class="container-fluid">
        
        <header class="row widget" >
            <div style = "color: white" class="container">
                <h3  style=" font-size: 50px; text-align:center;  font-style:italic;" >Solicitudes de Complejos</h3>
            </div>
        </header>
        
         
    <div class="col-md-12" ng-controller="AdminController as adm" style="background-color:white;">
        <table ng-table="adm.table" class="table table-condensed table-bordered table-striped" style="background-color:lightgrey;">
            <tr ng-repeat="due in adm.duePendientes" style="background-color:white;">
                <td class="text-center" title="'ID'" ng-if='false'>{{due.IdDuenio}}</td>
                <td class="text-center" title="'Usuario'"  >{{due.Usuario}}</td>
                <td class="text-center" title="'F. Alta'">{{due.FechaAlta}}</td>
                <td class="text-center" title="'Complejo'">{{due.nombreComplejo}}</td>
                <td class="text-center" title="'Tel.'" >{{due.NroTelef}}</td>
                <td class="text-center" title="'Calle'" >{{due.Calle}}</td>
                <td class="text-center" title="'Altura'" >{{due.Altura}}</td>
                <td class="text-center" title="'Provincia'">{{due.Provincia}}</td>
                <td class="text-center" title="'Localidad'">{{due.Localidad}}</td>
                <td class="text-center" title="'Rechazar'">
                    <button type="button" ng-click="adm.aceptarDuenio(due.IdDuenio, 0)" class="btn btn-sm btn-danger">
                        <i class="glyphicon glyphicon-remove-circle">
                        </i>
                    </button>
				</td>
                <td class="text-center" title="'Aceptar'">
                    <button type="button" ng-click="adm.aceptarDuenio(due.IdDuenio, 1)" class="btn btn-sm btn-success">
                        <i class="glyphicon glyphicon glyphicon-ok">
                        </i>
                    </button>
				</td>
            </tr>
        </table>
    </div>
        
    </div>