
<div class="container" id="mainTorneo" ng-controller="TorneoLigaController  as tor" >                
    
    <div class="container  ">
        <div class="container">
            <header class="row widget" >
                <div style = "color: white; " class="container">
                    <h3  style=" font-size: 50px; text-align:center; font-style:italic;" ></span>Torneo  {{tor.torneo.nombre}}</h3>
                </div>
            </header>
        </div>
    </div>    
            

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-6">
            <img class="img-responsive" src="/../resergol1.1/images/torneos/torneo1.jpg" alt="">
        </div>

        <div class="col-md-6">
            <h3>Descripcion del torneo</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
            <h3>Caracteristicas del torneo</h3>
            <ul>
                <li>Torneo de tipo Liga</li>
                <li>4 canchas a jugar</li>
                <li>7 jugadores maximo por equipo</li>
                <li>20 equipos maximo</li>
                <li>Otros</li>
            </ul>

            <div class="col-sm-12" ng-controller= "ClientesController as cli">
                <button class="btn btn-md btn-primary btn-block" ng-click= "cli.inscripcionTorneoLiga()">
                    Inscribite! <i class="glyphicon glyphicon-hand-right"></i>
                </button>
            </div> 
        </div>

            

        </div>
        <!-- /.row -->
        
       <div class="container" ui-view></div>

      
        <hr>
    <div class="row">
        <div class="col-lg-6">
            <h3>Equipos anotados en este torneo</h3>
            <table class="table table-hover"> <!-- class table hover-->
                <!-- table head-->
                <thead>
                    <tr>
                        <th>Pos</th>
                        <th>Equipo</th>
                        <th>PJ</th>
                        <th>PG</th>
                        <th>PE</th>
                        <th>PP</th>
                        <th>GF</th>
                        <th>GC</th>
                    </tr>
                </thead>
            
                <tbody>
                    <!-- Row 1 -->
                    <tr>
                        <td>1</td>
                        <td>Juan FC</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <!-- Row 2 -->
                    <tr>
                    <td>2</td>
                        <td>C.A.Brones</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <!-- Row 3 -->
                    <tr>
                    <td>3</td>
                        <td>A C Milanesas</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h3>Mira aca el fixture!!</h3>
                <div>
                    <button type="button" class="btn btn-default btn-sm">1</button>
                    <button type="button" class="btn btn-default btn-sm">2</button>
                    <button type="button" class="btn btn-default btn-sm">3</button>
                    <button type="button" class="btn btn-default btn-sm">4</button>
                    <button type="button" class="btn btn-default btn-sm">5</button>
                    <button type="button" class="btn btn-default btn-sm">6</button>
                    <button type="button" class="btn btn-default btn-sm">7</button>
                    <button type="button" class="btn btn-default btn-sm">8</button>
                    <button type="button" class="btn btn-default btn-sm">9</button>
                    <button type="button" class="btn btn-default btn-sm">10</button>
                    <button type="button" class="btn btn-default btn-sm">11</button>
                    <button type="button" class="btn btn-default btn-sm">12</button>
                    <button type="button" class="btn btn-default btn-sm">13</button>
                    <button type="button" class="btn btn-default btn-sm">14</button>
                    <button type="button" class="btn btn-default btn-sm">15</button>
                </div>
                
                <!-- class table hover-->
                <table class="table table-hover"> 
                    <tbody>
                        <!-- Row 1 -->
                        <tr>
                            <td>Juan FC</td>
                            <td>-</td>
                            <td>VS</td>
                            <td>-</td>
                            <td>A.C. Milanesas</td>
                            <td>14:00Hs</td>
                        </tr>
                        <!-- Row 2 -->
                        <tr>
                            <td>C.A.Brones</td>
                            <td>-</td>
                            <td>VS</td>
                            <td>-</td>
                            <td>Juan FC</td>
                            <td>14:00Hs</td>
                        </tr>
                        <!-- Row 2 -->
                        <tr>
                            <td>A.C. Milanesas</td>
                            <td>-</td>
                            <td>VS</td>
                            <td>-</td>
                            <td>C.A.Brones</td>
                            <td>14:00Hs</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<!-- /.row -->
      <!-- Related Projects Row -->
        <div class ="principal row filtro-Complejos" ng-controller="ClientesController as cli">

            <div class="col-lg-12">
                <h3 class="page-header">En estas canchas se juegan este torneo!!</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="/../resergol1.1/images/complejos/complejo2.jpg" alt="" ng-click="cli.irCancha()">
                </a>
                <h5>Titulo o nombre de la cancha</h5>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="/../resergol1.1/images/complejos/complejo2.jpg" alt="" ng-click="cli.irCancha()">
                </a>
                <h5>Titulo o nombre de la cancha</h5>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="/../resergol1.1/images/complejos/complejo2.jpg" alt="" ng-click="cli.irCancha()">
                </a>
                <h5>Titulo o nombre de la cancha</h5>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="/../resergol1.1/images/complejos/complejo2.jpg" alt="" ng-click="cli.irCancha()">
                </a>
                <h5>Titulo o nombre de la cancha</h5>
            </div>

        </div>
        <!-- /.row -->
    
</div> 
