
    <div class="container  ">
        <div class="container">
            <header class="row widget" >
                <div style = "color: white; " class="container">
                    <h3  style=" font-size: 50px; text-align:center; font-style:italic;" ></span>Devoluciones</h3>
                </div>
            </header>
        </div>
    </div>    

    
    <div class="container" id="mainTorneo" ng-controller="DevolucionesController as dev" >
        <div class="container widget col-xs-12 col-sm-6 col-md-12">
            <header>
                <h4><i class="fa fa-user"></i><p class="mensajeExplicacion">Seleccione los datos de las devoluciones que desea visualizar</h4>
            </header>

            <div class="col-sm-12"> 
               
                
               
                                        
                 <div class="form-group">
                    <label for="calle" class="control-label col-sm-1">Rango de Fechas</label>

                    <div class="col-sm-2">
                        <p class="input-group">
                        <!--date-disabled="tor.disabled(date)"-->
                            <input type="text" class="form-control " ng-change="dev.validaFecInscDesde()"
                                 uib-datepicker-popup="{{format}}" 
                                 ng-model="dev.FecInscDesde" 
                                 min-date="dateOptionsInscDesde.minDate"    
                                 is-open="FecInscripcionDesde.opened" 
                                 datepicker-options="dateOptionsInscDesde" 
                                 close-text="Cerrar"
                                    readonly='true' 
                                 alt-input-formats="altInputFormats" 
                                 />
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="OpenFecInscDesde()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>

                     <div class="col-sm-2">
                        <p class="input-group">
                          <input type="text"    ng-change="dev.validaFecInscHasta()"
                                 class="form-control" 
                                 uib-datepicker-popup="{{format}}" 
                                 ng-model="dev.FecInscHasta" 
                                 is-open="FecInscripcionHasta.opened" 
                                 min-date="dateOptionsInscHasta.minDate"    
                                 datepicker-options="dateOptionsInscHasta"  
                                 ng-required="true" close-text="Cerrar" 
                                  readonly='true' 
                                 alt-input-formats="altInputFormats" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="OpenFecInscHasta()"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </p>
                    </div>  
                        
                    <label class="checkbox-inline"><input type="checkbox" id="reserva" ng-model="dev.reserva" >Cancelación de reserva</label>
                    <label class="checkbox-inline"><input type="checkbox" id="torneo" ng-model="dev.torneo" >Cancelación de torneo</label>

                    <button class="btn btn-md btn-info  " style="margin-left:15px;" ng-click="dev.buscar()">
                        <i class="fa fa-plus glyphicon glyphicon-search"></i>Buscar
                    </button>
                                       
                </div>
                
                
            </div>
            
            <br> <br/>
            <br> <br/>
            
            
            <div class="col-md-12" style="background-color:white;">
                <table ng-table="adm.table" class="table table-condensed table-bordered table-striped" style="background-color:lightgrey;">
                    <tr ng-repeat="devolucion in dev.devoluciones" style="background-color:white;">
                        <td class="text-center" title="'Cliente'">{{devolucion.cliente}}</td>
                        <td class="text-center" title="'Monto'">{{devolucion.monto}}</td>
                        <td class="text-center" title="'Fecha'">{{devolucion.fecha}}</td>
                        <td class="text-center" title="'Motivo'">{{devolucion.tipo}}</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>

 
   <div class="clearfix"></div>
        
   <div/>    