
<!--<div class="container-fluid">-->
<div class="container-fluid">
    <header class="row widget" >
        <div style = "color: white; " class="container">
            <h3  style=" font-size: 50px; text-align:center; font-style:italic;" >Mi complejo</h3>
        </div>
    </header>
</div>    


    
<!--pi-->
<!--
<div id="main" ng-controller="MainController as main" class="container clear-top" style="min-height: 300px;">
-->
<div id="main" ng-controller="AdministrarComplejoController as admCom"  class="container clear-top" style="min-height: 300px;">
    <form class="modal-body" name="frmAdminDuenio">
    <div class="row">
        <div class="col-md-7">
            <section class="widget">
                    
                    <div class="body">
                        <form id="user-form" class="form-horizontal form-label-left"
                                novalidate="novalidate"
                                method="post"
                                data-parsley-priority-enabled="false"
                                data-parsley-excluded="input[name=gender]">
                            <div class="row">
                               <div class="col-md-12">
                                    <img src="/../resergol1.1/images/duenios/complejo.jpg" class="img-responsive" alt="Image" style="display:block;margin:0 auto 0 auto;">
                                </div>
                            </div>
                            <fieldset>
                                <legend class="section legend-mod">Caracteristicas</legend>
                                <div class="form-group">
                                    <label for="nombre" class="control-label  col-sm-4">Nombre del complejo<span class="required">*</span></label>
                                    <div class="col-sm-8">
                                        <input placeholder="Ingrese un nombre" id="nombre" class="form-control input-transparent" type="text" name="nombre" value="Open Gallo">
                                    </div>
                                </div>
                                
                                <div class="form-group" style="margin-bottom:15px;">
                                    <div class="col-sm-12">
                                        <label class="checkbox-inline"><input type="checkbox" value="">Estacionamiento</label>
                                        <label class="checkbox-inline"><input type="checkbox" value="">Duchas</label>
                                        <label class="checkbox-inline"><input type="checkbox" value="">Buffet</label>
                                        <label class="checkbox-inline"><input type="checkbox" value="">Parrilla</label>
                                        <label class="checkbox-inline"><input type="checkbox" value="">WiFi</label>
                                    <div>
                                </div>
                                
                                
                                <div class="form-group" style="margin-bottom:5px;">
                                    <label for="descripcion" class="control-label col-sm-4">Descripción<span class="required"></span></label>
                                </div>
                                
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <textarea placeholder="Descripción breve del complejo." class="form-control" rows="3"></textarea>
                                    </div>
                                </div>
                                
                                
                                
                                <legend class="section legend-mod">Dias y horarios</legend>    
                                
                                <div class="row" style="margin-bottom:15px;">
                                    <label for="diaDesde" class="control-label  col-sm-1">De</label>
                                    <div class="col-xs-12 col-sm-3">  
                                      <select id="diaDesde" ng-model="diaDesde" style="margin-bottom:5px;" class="form-control ac-select stateList" ng-model="admCom.dias.selectedOption" 
                                            ng-options="Nombre as dias.Nombre for dias in admCom.dias.dia track by
                                                        dias.idDia">
                                        </select>
                                    </div>
                                    <label for="diaHasta" class="control-label  col-sm-1">A</label>
                                    <div class="col-xs-12 col-sm-3">  
                                        <select id="diaHasta" ng-model="diaHasta" style="margin-bottom:5px;" class="form-control ac-select stateList" ng-model="admCom.dias.selectedOption" 
                                            ng-options="Nombre as dias.Nombre for dias in admCom.dias.dia track by
                                                        dias.idDia">
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="row" style="margin-bottom:15px;">
                                    <label for="sel2" class="  col-sm-1">De</label>
                                    <div class="col-xs-12 col-sm-3">  
                                        <input id="horaDesde" style="color:black" type="time" ng-model="admCom.horasComplejo.horaDesde" value="11:45:00" max="22:30:00" min="10:00:00" step="1"> 
                                    </div>
                                    <label for="sel2" class=" col-sm-1">A</label>
                                    <div class="col-xs-12 col-sm-3">  
                                        <input id="horaHasta" style="color:black" type="time" ng-model="admCom.horasComplejo.horaHasta" value="11:45:00" max="22:30:00" min="10:00:00" step="1"> 
                                    </div>    
                                    <div class="col-sm-4">
                                        <!--<button class="btn btn-md btn-success" ng-click="admCom.mostrarDatos()"><i class="fa fa-plus glyphicon glyphicon-plus"></i> Agregar</button>-->
                                        <!--<input ng-click="admCom.mostrarDatosFila()" value="Agregar" class="btn btn-primary">-->
                                        <input ng-click="addRow()" value="Agregar" class="btn btn-primary">
                                    </div>
                                </div>
                                
                                <div class="table-responsive col-md-12 row" style="margin-bottom:5px;">          
                                    <table class="table table-striped table-bordered table-hover" style= "background-color:white;">
                                        <tr>
                                            <th>De
                                            </th>
                                            <th>A
                                            </th>
                                            <th>DE
                                            </th>
                                            <th>A
                                            </th>
                                        </tr>
                                        <tr ng-repeat="dias in diasComplejo">
                                            <td> {{dias.diaDesde}}
                                            </td>
                                            <td> {{dias.diaHasta}}
                                            </td>
                                            <td> {{dias.horaDesde}}
                                            </td>
                                            <td> {{dias.horaHasta}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                    </div>
                                </div>
                            </fieldset>
                            
                            <!--CONFIGURACIONES ESPECIALES-->
                            <fieldset>
                                <legend class="section legend-mod">Configuraciones especiales</legend>
                                
                                <div class="form-group">
                                    <label id="horaSeñaLabel" for="horaSeña" class="control-label col-sm-6">Hora a partir de la cual se cobra luz<span class="required">*</span></label>
                                    <div class="col-xs-12 col-sm-3">  
                                            <SELECT NAME="horaSeña" SIZE=1 class="select2 form-control col-sm-3"> 
                                            <OPTION >08 Hs</OPTION>
                                            <OPTION>09 Hs</OPTION>
                                            <OPTION>10 Hs</OPTION>
                                            <OPTION>11 Hs</OPTION> 
                                            <OPTION>12 Hs</OPTION> 
                                            <OPTION>13 Hs</OPTION> 
                                            <OPTION>14 Hs</OPTION> 
                                            <OPTION>15 Hs</OPTION>
                                            <OPTION>16 Hs</OPTION> 
                                            <OPTION>17 Hs</OPTION> 
                                            <OPTION>18 Hs</OPTION> 
                                            <OPTION selected="selected">19 Hs</OPTION> 
                                            <OPTION>20 Hs</OPTION> 
                                            <OPTION>21 Hs</OPTION> 
                                            <OPTION>22 Hs</OPTION> 
                                            <OPTION  >23 HS</OPTION> 
                                        </SELECT> 
                                    </div>    
                                </div>
                                
                                
                                <div class="form-group">
                                    <label for="porcentajeExtra" class="control-label col-sm-6">Porcentaje extra por jugar con luz</label>
                                    <div class="col-xs-12 col-sm-3">  
                                            <SELECT NAME="horaSeña" SIZE=1 class="select2 form-control col-sm-3"> 
                                            <OPTION>10 %</OPTION>
                                            <OPTION>20 %</OPTION>
                                            <OPTION selected="selected">30 %</OPTION>
                                            <OPTION>40 %</OPTION> 
                                            <OPTION>50 %</OPTION> 
                                            <OPTION>60 %</OPTION> 
                                            <OPTION>70 %</OPTION> 
                                            <OPTION>80 %</OPTION>
                                            <OPTION>90 %</OPTION>
                                            <OPTION>100 %</OPTION> 
                                        </SELECT> 
                                    </div>    
                                </div>
                                
                                 <div class="form-group">
                                    <label for="porcentajeSeña" class="control-label col-sm-6">Porcentaje de seña para reservar</label>
                                    <div class="col-xs-12 col-sm-3">  
                                            <SELECT NAME="porcentajeSeña" SIZE=1 class="select2 form-control col-sm-3"> 
                                            <OPTION>10 %</OPTION>
                                            <OPTION>20 %</OPTION>
                                            <OPTION>30 %</OPTION>
                                            <OPTION>40 %</OPTION> 
                                            <OPTION selected="selected"> 50 %</OPTION> 
                                            <OPTION>60 %</OPTION> 
                                            <OPTION>70 %</OPTION> 
                                            <OPTION>80 %</OPTION>
                                            <OPTION>90 %</OPTION>
                                            <OPTION>100 %</OPTION> 
                                        </SELECT> 
                                    </div>    
                                </div>
                                
                                <div class="form-group">
                                    <label for="horasAviso" class="control-label col-sm-6">Tiempo de aviso de cancelación de cancha (horas)</label>
                                    <div class="col-xs-12 col-sm-4"><input id="horasAviso" placeholder="24 Hs" class="form-control input-transparent" type="text" value="24 Hs" name="horasAviso"></div>
                                </div>
                            </fieldset>
                            
                            
                            
                            <!--DATOS DE CONTACTO-->
                            <fieldset>
                                <legend class="section legend-mod">Datos de contacto</legend>
                                
                                <div class="form-group">
                                    <label id="email-label" for="email" class="control-label col-sm-4">Correo electrónico <span class="required">*</span></label>
                                    <div class="col-xs-12 col-sm-8">
                                        
                                            <input id="email" type="email"
                                                    data-trigger="change" required="required"
                                                    class="form-control input-transparent" value="CosmeFulanito@gmail.com"
                                                    name="email" placeholder="Correo electrónico">
                                                
                                        
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="telefono-particular" class="control-label col-sm-4">Teléfono particular</label>
                                    <input id="NroTelef" type="number" class="form-control ng-dirty ng-touched ng-valid-usuario ng-valid ng-valid-required" placeholder="Telefono" ng-maxlength="15" name="NroTelef" ng-model="admCom.Duenio.NroTelef" required ng-class="{ error:frmAdminDuenio.NroTelef.$error.required && frmAdminDuenio.NroTelef.$dirty, warning:frmAdminDuenio.NroTelef.$error.NroTelef}">
                                </div>
                                <div class="form-group">
                                    <label for="telefono-celular" class="control-label col-sm-4">Teléfono celular</label>
                                    <input id="celular" type="number" class="form-control ng-dirty ng-touched ng-valid-usuario ng-valid ng-valid-required" placeholder="Celular" ng-maxlength="15" name="celular" ng-model="admCom.Duenio.nroCelular"
                                           value="{{admCom.Duenio.nroCelular}}">
                                </div>
                            </fieldset>

                        </form>
                </div>
                
                </section>
                <section class="widget">
                    
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-4">
                                <button type="button" class="btn btn-danger">Cancelar</button>
                                <button type="submit" class="btn btn-primary">Grabar</button>
                            </div>
                        </div>
                    
                </section>
            </div>
            
            <div class="col-md-5">
                <section class="widget">
                    <header>
                        <h4><i class="fa fa-user"></i>Ubicación</h4>
                    </header>
                    
                    <fieldset>
                    <div class="body">
                        <p class="mensajeExplicacion">Datos de la ubicación del complejo(provincia, localidad, dirección).</p>
                        
                        <div class="form-group">
                            <form action="" class="">
                                <div class="form-group">
                                    <label for="provincias" class="control-label col-sm-2">Provincia</label>
                                    <div class="col-xs-12 col-sm-10">
                                        <select style="margin-bottom:5px;" class="form-control ac-select stateList" ng-model="admCom.provincias.selectedProv" 
                                            ng-options="provincia.Nombre for provincia in admCom.provincias.prov track by
                                                        provincia.IdProvincia" ng-change="admCom.getLocalidades()">
                                        </select> 
                                    </div>    
                                </div>        
                                
                                <div class="form-group">
                                    <label for="localidades" class="control-label col-sm-2">Localidad</label>
                                    <div class="col-xs-12 col-sm-10">    
                                        <select style="margin-bottom:5px;" class="form-control" ng-model="admCom.localidades.selectedOption" 
                                                ng-options="localidad.Nombre for localidad in admCom.localidades.loc track by                                                                                                                                        localidad.Nombre" >
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="calle" class="control-label col-sm-2">Dirección</label>
                                    <div class="col-xs-12 col-sm-10">    
                                        <input style="margin-bottom:5px;" id="direccion" type="text" class="form-control ng-dirty ng-touched ng-valid-usuario ng-valid ng-valid-required" placeholder="Dirección" ng-maxlength="60" name="direccion" ng-model="admCom.Duenio.direccion" required ng-class="{ error:frmAdminDuenio.direccion.$error.required && frmAdminDuenio.direccion.$dirty, warning:frmAdminDuenio.direccion.$error.direccion}">
                                    </div>    
                                </div>  
                                
                                <div class="form-group">
                                    <label for="altura" class="control-label col-sm-2">Altura</label>
                                    <div class="col-xs-12 col-sm-10">    
                                        <input type="number" id="altura" class="form-control input-transparent" style="margin-bottom:5px;" placeholder="1000"  name="altura" />
                                    </div>    
                                </div>  
                                
                                <div class="form-group">
                                    <label for="cp" class="control-label col-sm-2">CP</label>
                                    <div class="col-xs-12 col-sm-10">    
                                        <input id="cp" class="form-control input-transparent" style="margin-bottom:5px;" type="number" placeholder="CP"  name="cp" />
                                    </div>    
                                </div>  
                                
                            </form>
                    </div>
                </div>
                        
                    </fieldset>
                </section>
                
                <section class="widget">
                
                    <header>
                        <h4><i class="fa fa-book"></i>Mapa</h4>
                    </header>
                    
                    
                    <div class="body">
                        <p class="mensajeExplicacion">Visualice el complejo en Google Maps.</p>
                        
                        <div class="boxMapa">
                            <div id="map-container"></div>
                        </div>
                                    
                        <div style="text-align:right;">
                            <a href="/antioquia/Cursos/Analitico" class="btn btn-xs btn-primary"><i class="fa fa-list"></i>Abrir ventana</a>
                        </div>
                    </div>
                    
                </section>
                <section class="widget">
                    <header>
                        <h4><i class="fa fa-user"></i>Datos del dueño</h4>
                        <div class="widget-controls">
                            <a data-widgster="expand" title="Expandir" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            <a data-widgster="collapse" title="Contraer" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            <a data-widgster="close" title="Cerrar" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    
                    <fieldset>
                    <div class="body">
                        <p class="mensajeExplicacion">Administre aquí los datos del dueño del complejo.</p>
                        <div class="form-group">
                            <form action="" class="">
                                
                                <div class="form-group" style="margin-bottom:50px;">
                                    <label for="usuario" class="control-label  col-sm-4">Usuario<span class="required">*</span></label>
                                    <div class="col-sm-8">
                                        <input id="usuario" type="text" class="form-control ng-dirty ng-touched ng-valid-usuario ng-valid ng-valid-required" placeholder="Usuario" ng-maxlength="25" name="usuarioDuenio" ng-model="admCom.Duenio.usuario" required ng-class="{ error:frmAdminDuenio.usuario.$error.required && frmAdminDuenio.usuario.$dirty, warning:frmAdminDuenio.usuario.$error.usuario }" ng-blur="admCom.existeUsuario()">
                                    </div>
                                </div>
                                
                                <div class="form-group" style="margin-bottom:50px;">
                                    <label for="contraseña" class="control-label col-sm-4">Contraseña <span class="required">*</span></label>
                                    <div class="col-sm-8">
                                        <input id="contrasenia" type="password" class="form-control ng-dirty ng-touched ng-valid-contrasenia ng-valid ng-valid-required" placeholder="Contraseña" ng-minlength="6" ng-maxlength="25" name="contrasenia" ng-model="admCom.Duenio.contrasenia" required ng-class="{ error: frmAdminDuenio.contrasenia.$error.required && frmAdminDuenio.contrasenia.$dirty, warning: frmAdminDuenio.contrasenia.$error.contrasenia }">
                                    </div>
                                </div>
                                
                                <div class="form-group" style="margin-bottom:50px;">
                                    <label for="nombreD" class="control-label  col-sm-4">Nombre<span class="required">*</span></label>
                                    <div class="col-sm-8">
                                        <input id="nombre" type="text" class="form-control ng-dirty ng-touched ng-valid-usuario ng-valid ng-valid-required" placeholder="Nombre" ng-maxlength="60" name="nombre" ng-model="admCom.Duenio.nombre" required ng-class="{ error:frmAdminDuenio.nombre.$error.required && frmAdminDuenio.nombre.$dirty, warning:frmAdminDuenio.nombre.$error.nombre}">
                                    </div>
                                </div>
                                
                                <div class="form-group" style="margin-bottom:50px;">
                                    <label for="apellido" class="control-label col-sm-4">Apellido <span class="required">*</span></label>
                                    <div class="col-sm-8">
                                        <input id="apellido" type="text" class="form-control ng-dirty ng-touched ng-valid-usuario ng-valid ng-valid-required" placeholder="Apellido" ng-maxlength="60" name="apellido" ng-model="admCom.Duenio.apellido" required ng-class="{ error:frmAdminDuenio.apellido.$error.required && frmAdminDuenio.apellido.$dirty, warning:frmAdminDuenio.apellido.$error.apellido}">
                                    </div>
                                </div>
                                
                                <div class="form-group" style="margin-bottom:50px;">
                                    <label for="tipoDoc" class="control-label col-sm-4">Tipo doc.</label>
                                    <div class="col-xs-12 col-sm-8">    
                                       <select style="margin-bottom:5px;" class="form-control" ng-model="admCom.tiposDoc.selectedOption" 
                                                             ng-options="tipoDoc.Descripcion for tipoDoc in admCom.tiposDoc.tipos 
                                                                         track by tipoDoc.IdTipoDoc">
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="form-group" style="margin-bottom:50px;">
                                    <label for="nro-documento" class="control-label col-sm-4">Documento <span class="required">*</span></label>
                                    <div class="col-sm-8">
                                        <input id="nroDoc" type="number" class="form-control ng-dirty ng-touched ng-valid-usuario ng-valid ng-valid-required" placeholder="Nro Documento" ng-maxlength="10" name="nroDoc" ng-model="admCom.Duenio.nroDoc" required ng-class="{ error:frmAdminDuenio.nroDoc.$error.required && frmAdminDuenio.nroDoc.$dirty, warning:frmAdminDuenio.nroDoc.$error.nroDoc}" ng-blur="due.existeDni()">
                                    </div>
                                </div>
                                
                                <div class="form-group" style="margin-bottom:50px;">
                                    <label for="email" class="control-label col-sm-4">Mail <span class="required">*</span></label>
                                    <div class="col-sm-8">
                                        <input id="email" type="email" class="form-control ng-dirty ng-touched ng-valid-email ng-valid ng-valid-required" placeholder="example@email.com" name="email" ng-model="admCom.Duenio.email" 
                                        required ng-class="{ error:frmAdminDuenio.email.$error.required && frmAdminDuenio.email.$dirty, warning:frmAdminDuenio.email.$error.email }" ng-blur="due.existeEmail()">
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                    
                    
                    </div>
                    </fieldset>
                </section>
                
                 <section class="widget">
                    <header>
                        <h4><i class="fa fa-book"></i>Transferencias</h4>
                        <div class="widget-controls">
                            <a data-widgster="expand" title="Expandir" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            <a data-widgster="collapse" title="Contraer" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            <a data-widgster="close" title="Cerrar" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    
                    <fieldset>
                    <div class="body">
                        <p class="mensajeExplicacion">Datos necesarios para realizar las transferencias de las reservas.</p>
                                
                         <div class="form-group">
                            <form action="" class="">
                                
                                <div class="form-group">
                                    <label for="CBU" class="control-label col-sm-4">CBU</label>
                                    <div class="col-xs-12 col-sm-8">    
                                        <input id="CBU" class="form-control input-transparent" style="margin-bottom:5px;" type="text" placeholder="CBU"  name="cbu" />
                                    </div>    
                                </div>  
                                
                                <div class="form-group">
                                <label for="nroCuenta" class="control-label col-sm-4">Nro de cuenta</label>
                                    <div class="col-xs-12 col-sm-8">    
                                        <input id="altura" class="form-control input-transparent" style="margin-bottom:5px;" type="text" placeholder="Nro de cuenta"  name="" />
                                    </div>    
                                </div> 

                            </form>
                        </div>
                        
                    </div>
                    </fieldset>
                   
                </section>
                
                
                <section class="widget">
                    <header>
                        <h4><i class="fa fa-book"></i>Ver</h4>
                        <div class="widget-controls">
                            <a data-widgster="expand" title="Expandir" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            <a data-widgster="collapse" title="Contraer" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            <a data-widgster="close" title="Cerrar" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    
                    <fieldset>
                    <div class="body">
                        <p class="mensajeExplicacion">Administración de imagenes del complejo.</p>
                                
                         <div class="form-group">
                            <form action="" class="">
                                <div class="form-group">
                                    <a ui-sref="Duenios.complejoImagenes"  class="btn btn-success btn-lg btn-block" role="button">Imagenes del complejo</a>
                                    <a ui-sref="Clientes.verComplejo" class="btn btn-info btn-lg btn-block" role="button">Como me ven los usuarios</a>
                                </div>  
                            </form>
                        </div>
                        
                    </div>
                        
                    </fieldset>
                   
                </section> 
            </div>
        </div>
    </form>
</div>


<!--pi-->
<div class="clearfix"></div>
        


