
    <div class="container-fluid">
        
        <header class="row widget" >
            <div style = "color: white" class="container">
                <h3  style=" font-size: 50px; text-align:center;  font-style:italic;" ></span>Lista negra de clientes</h3>
            </div>
        </header>
        
        
        <div class="table-responsive col-md-12 ">     
                    <section class="widget">
                        <table  class="table table-bordered table-striped tabla-listaNegra table-hover text-center " style= "table-layout: fixed; vertical-align:center;">
                            <tr>
                                <th class="col-sm-1 ">Cliente </th>
                                <th class="col-sm-1 ">Usuario </th>
                                <th class="col-sm-1 ">Fecha de ingreso</th>
                                <th class="col-sm-1 ">Quitar de la lista</th>
                            </tr>
                            
                            <tr>
                                <td>Juan Gomez</td>
                                <td>Juan77</td>
                                <td>01/02/2015  </td>
                                <td><label class="checkbox-inline"><input type="checkbox" value=""></label></td>
                            </tr>
                            
                            <tr>
                                <td>Ivan Fernandez</td>
                                <td>IvanTaladro</td>
                                <td>01/02/2015</td>
                                <td><label class="checkbox-inline"><input type="checkbox" value=""></label></td>
                            </tr>
                            
                            <tr>
                                <td>Matias Maradona</td>
                                <td>MM86</td>
                                <td>01/02/2015  </td>
                                <td><label class="checkbox-inline"><input type="checkbox" value=""></label></td>
                            </tr>
                        </table>
                        
                        <div class="row">
                            <button type="button" class="btn btn-primary  btn-lg btn-block" style="border-radius: 8px;">
                                               
                                <i class="glyphicon glyphicon-edit"></i>
                                Actualizar
                            </button>
                        </div>    
                    </section>    
        </div>
        
        
      
    </div>
    
    <div class="clearfix"></div>
        <hr>
        <div class="col-md-12 text-center">ReserGol 2016 -  Copyright © Todos los Derechos Reservados</div>
        <hr>
    <div/>    
 
	