    <div class="container-fluid">
        
        <header class="row widget" >
            <div style = "color: white; " class="container">
                <h3  style=" font-size: 50px; text-align:center; font-style:italic;" ></span>Nuevo torneo</h3>
            </div>
        </header>
    </div>    


    
    
    <div class="container" id="main" ng-controller="TorneoNuevoController as tor" >
        <div class="container">
            
            <div class=" principal row " style="margin-bottom: 0px;">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    
                        <section class="widget">
                        <header>
                            <h4><i class="fa fa-user"></i><p class="mensajeExplicacion">Datos del torneo</h4>
                        </header>
                        
                        <fieldset>
                            
                        <div class="body">
                            
                            
                            <div class="form-group">
                                <form  class="">
                                    
                                     <div class="form-group">
                                        <label for="nombre" class="control-label col-sm-4">Nombre</label>
                                        <div class="col-xs-12 col-sm-8">    
                                           <input placeholder="Ingrese un nombre" id="nombreD" ng-model="tor.Torneo.nombre" class="form-control input-transparent" style="margin-bottom:5px;" type="text" name="nombretor">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="TipoTorneo" class="control-label col-sm-4">Tipo de torneo</label>
                                        <div class="col-xs-12 col-sm-8">
                                
                                            
                                            <select id="TipoTorneo" 
                                                    data-placeholder="" 
                                                    class="select2 form-control" 
                                                    name="TipoTorneo" style="margin-bottom:5px;"
                                                    ng-model="tor.tiposTorneos.selectedOption"
                                                    ng-options="tipoTorneo.Nombre for tipoTorneo in tor.tiposTorneos.tipos track                                                                    by tipoTorneo.Nombre">
                                               
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="cantJugadores" class="control-label col-sm-4">Jugadores en cancha</label>
                                        <div class="col-xs-12 col-sm-8">    
                                            <select id="cantJugadores"
                                                    data-placeholder="" 
                                                    class="select2 form-control" 
                                                    name="cantJugadores" style="margin-bottom:5px;"
                                                    ng-model="tor.cantJugadores.selectedOption"
                                                    ng-options="cantidad.CantJugadores for cantidad in tor.cantJugadores.tipos track                                                                    by cantidad.CantJugadores">
                                            </select>
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="form-group">
                                        <label for="superficie" class="control-label col-sm-4">Superficie</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <select id="superficie" 
                                                    data-placeholder="" 
                                                    class="select2 form-control" 
                                                    name="superficie" style="margin-bottom:5px;"
                                                    ng-model="tor.superficies.selectedOption"
                                                    ng-options="superficie.Descripcion for superficie in tor.superficies.tipos track                                                                    by superficie.Descripcion">
                                              
                                            </select>
                                        </div>    
                                    </div>        
                                    
                                    <div class="form-group">
                                        <label for="TipoPartidos" class="control-label col-sm-4">Tipo de partido</label>
                                        <div class="col-xs-12 col-sm-8">    
                                            <select id="TipoPartidos" 
                                                    data-placeholder="" 
                                                    class="select2 form-control" 
                                                    name="TipoPartidos" style="margin-bottom:5px;"
                                                    ng-model="tor.tiposPartidos.selectedOption"
                                                    ng-options="tiposPartido.tipo for tiposPartido in tor.tiposPartidos.tipos track by tiposPartido.tipo>">
                                               
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="precio" class="control-label col-sm-4">Cantidad de equipos</label>
                                        <div class="col-xs-12 col-sm-8">    
                                            <input id="cantEq" ng-model = "tor.Torneo.cantEquipos" class="form-control input-transparent" style="margin-bottom:5px;" type="text" placeholder=""  name="cantEquipos" />
                                        </div>    
                                    </div>  
                                    
                                    <div class="form-group">
                                        <label for="precio" class="control-label col-sm-4">Precio de inscripción</label>
                                        <div class="col-xs-12 col-sm-8">    
                                            <input id="precio" class="form-control input-transparent" style="margin-bottom:5px;" type="text" placeholder=""  name="precio" />
                                        </div>    
                                    </div>  
                                    
                                    <div class="form-group " >
                                        <label for="calle" class="control-label col-sm-4">Fechas de inscripción</label>
                                        
                                         <div class="form-group">
  
                                                  <div class="col-sm-4">
                                                    <p class="input-group">
                                                        <!--date-disabled="tor.disabled(date)"-->
                                                      <input type="text" class="form-control "  
                                                             uib-datepicker-popup="{{format}}" 
                                                             ng-model="tor.FecInscDesde" 
                                                             min-date="dateOptionsInscDesde.minDate"    
                                                             is-open="FecInscripcionDesde.opened" 
                                                             datepicker-options="dateOptionsInscDesde" 
                                                             ng-required="true"  
                                                             close-text="Cerrar"
                                                             alt-input-formats="altInputFormats" 
                                                              ng-blur="tor.setearDesdeInsc()"/>
                                                      <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="OpenFecInscDesde()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                      </span>
                                                    </p>
                                                </div>
                                                  
                                                 <div class="col-sm-4">
                                                    <p class="input-group">
                                                      <input type="text" 
                                                             class="form-control" 
                                                             uib-datepicker-popup="{{format}}" 
                                                             ng-model="tor.FecInscHasta" 
                                                             is-open="FecInscripcionHasta.opened" 
                                                             min-date="dateOptionsInscHasta.minDate"    
                                                             datepicker-options="dateOptionsInscHasta"  
                                                             ng-required="true" close-text="Cerrar" 
                                                             ng-blur="tor.setearTorneoDesde()"
                                                             alt-input-formats="altInputFormats" />
                                                      <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="OpenFecInscHasta()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                      </span>
                                                    </p>
                                                </div>  
                                                  
                                       
                                         </div>
                                    
                                    <div class="form-group ">
                                        <label for="calle" class="control-label col-sm-4">Fechas Inicio y Fin</label>
                                        
                                        <div class="form-group">
                                            <div class="form-group">
  
                                                  <div class="col-sm-4">
                                                    <p class="input-group">
                                                      <input type="text" 
                                                              format-day-header="EEE"
                                                             class="form-control" 
                                                             uib-datepicker-popup="{{format}}" 
                                                             ng-model="tor.TorneoDesde" 
                                                             is-open="FecDesde.opened" 
                                                             datepicker-options="dateOptions" 
                                                             ng-required="true" 
                                                             ng-blur= "tor.setearTorneoHasta()"
                                                             close-text="Cerrar" 
                                                             alt-input-formats="altInputFormats" />
                                                      <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="OpenFecDesde()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                      </span>
                                                    </p>
                                                </div>
                                                  
                                                 <div class="col-sm-4">
                                                    <p class="input-group">
                                                      <input type="text" 
                                                             class="form-control" 
                                                             uib-datepicker-popup="{{format}}" 
                                                             ng-model="tor.TorneoHasta" 
                                                             is-open="FecHasta.opened" 
                                                             datepicker-options="dateOptions" 
                                                             ng-required="true" 
                                                             close-text="Cerrar" 
                                                             alt-input-formats="altInputFormats" />
                                                      <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="OpenFecHasta()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                      </span>
                                                    </p>
                                                </div>  
                                                  
                                       
                                         </div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group" >
                                        <label for="horas" class="control-label col-sm-4">Tiempo de aviso de cancelación al torneo (horas)</label>
                                        <div class="col-xs-12 col-sm-8" style="margin-bottom:30px;">    
                                            <input id="horas" class="form-control input-transparent" style="margin-bottom:5px;" type="text" placeholder="24 hs"  name="horas" />
                                        </div>    
                                    </div>  
                                    
                                    
                                  
                                    
                                    <div class="form-group" style="margin-top:15px;">
                                        <label for="descripcion" class="control-label   col-sm-4">Descripción<span class=""></span></label>
                                    </div>
                                
                                    <div class="form-group">
                                        <div class="col-sm-12" style="margin-bottom:20px;" >
                                            <textarea placeholder="Descripción breve del torneo." class="form-control" rows="3"></textarea>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group" style="margin-top:10px;">
                                        <label for="descripcion" class="control-label   col-sm-4">Reglas<span class=""></span></label>
                                    </div>
                                
                                    <div class="form-group">
                                        <div class="col-sm-12" style="margin-bottom:30px;" >
                                            <textarea placeholder="Reglas del torneo." class="form-control" rows="3"></textarea>
                                        </div>
                                    </div>
                                    
                        
                                    
                                    <div class="form-group">
                                        <div class="col-md-4"> 
                                            <div class="form-group"  >
                                                <button class="btn  btn-md btn-danger btn-block" style="border-radius: 7px;">
                                                <i class="glyphicon glyphicon-trash"></i>
                                                    Eliminar
                                                </button>   
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-4"> 
                                            <div class="form-group">
                                                <buton href="#imagenModal" role="button" data-toggle="modal" class="btn  btn-md btn-info btn-block " style="border-radius: 7px;">
                                                    <i class="glyphicon glyphicon-camera"></i>
                                                    Agregar imagen
                                                </buton>
                                       
                                          
                                             
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-4"> 
                                            <div class="form-group">
                                                <button class="btn  btn-md btn-success btn-block" ng-click="tor.mostrarDatos()" style="border-radius: 7px;">
                                                 <i class="glyphicon glyphicon-floppy-save"></i>
                                                    Guardar
                                                </button>
                                            </div>
                                        </div>
                                    </div> 
                                    
                                    
                                    
                                </form>
                        </div>
                        </fieldset>
                    </section>
                    
                </div>
                    
                <div class="col-md-6">
                    
                    <section class="widget">
                        <header>
                            <h4 class="mensajeExplicacion"><i class="fa fa-user"></i>Días y horarios en los que se juega el torneo</h4>
                        </header>
                        <fieldset>
                        
                        
                            
                             <table ng-table="tor.table" class="table table-condensed table-bordered table-striped" style="background-color:lightgrey;">
                                <tr ng-repeat="dia in tor.diasDesde.tipos" style="background-color:white;">
                                    <td title=""  ng-if="false">{{dia.iddia}}</td>
                                    <td title="'Dia'"  >{{dia.nombre}}</td>
                                    <td title="'Desde'" ng-switch="true" style="width:25%">
                                         <span ng-switch-default class="editable-text">{{dia.HoraDesde}}</span>
                                        <div class="controls" ng-class="" ng-switch-when="true">
                                            <input type="time" 
                                                   name="HoraDesde" 
                                                   ng-model="dia.HoraDesde" 
                                                   class="editable-input form-control "
                                                   min={{dia.desdeMin}} max={{dia.hastaMax}}
                                                   required/>
                                        </div>
                                    </td>
                                    <td title="'Hasta'" ng-switch="true" style="width:25%">
                                        <span ng-switch-default class="editable-text">{{dia.HoraHasta}}</span>
                                        <div class="controls" ng-class="" ng-switch-when="true">
                                            <input type="time" 
                                                   name="HoraDesde" 
                                                   ng-model="dia.HoraHasta" 
                                                   min={{dia.desdeMin}} max={{dia.hastaMax}}
                                                   class="editable-input form-control" required/>
                                        </div>
                                    </td>
                                    <td title="'Juega'">
                                        <button type="button" ng-click="tor.juegaSiNo($index,1)" ng-disabled="dia.juega" class="btn btn-sm btn-success">
                                            <i class="glyphicon glyphicon glyphicon-ok">
                                            </i>
                                        </button>

                                        <button type="button" ng-click="tor.juegaSiNo($index,0)" ng-disabled="!dia.juega" class="btn btn-sm btn-danger">
                                            <i class="glyphicon glyphicon-remove-circle">
                                            </i>
                                        </button>
                                        <label>{{dia.siNo}}</label>

                                    </td>

                                </tr>
                            </table>

                        </fieldset>
                    </section>
                    
                    <section class="widget">
                        <header>
                            <h4 class="mensajeExplicacion"><i class="fa fa-user"></i>Canchas y horarios</h4>
                        </header>
                        
                        <fieldset>
                            <table ng-table="tor.tableParams" class="table table-condensed table-bordered table-striped" style="background-color:lightgrey;">
                                <tr ng-repeat="cancha in tor.canchas.tipos" style="background-color:white;">
                                    <td title=""  ng-if="false">{{cancha.idcancha}}</td>
                                    <td title="'Cancha'" sortable="'cancha.nombre'" >{{cancha.nombre}}</td>
                                    <td title="'Jugadores'"  >{{cancha.CantJugadores}}</td>
                                    <td title="'Superficie'"  >{{cancha.descripcion}}</td>
                                    <td title="'Techo'"  >{{cancha.techo}}</td>
                                    <td title="'Luz'"  >{{cancha.conLuz}}</td>
                                    <td title="'Precio'">{{cancha.precio}}</td>
                                    <td title="'Juega'">
                                        <button type="button" ng-click="tor.juegaCanchaSiNo($index,1)" ng-disabled="cancha.juegaCancha" class="btn btn-sm btn-success">
                                            <i class="glyphicon glyphicon glyphicon-ok">
                                            </i>
                                        </button>

                                        <button type="button" ng-click="tor.juegaCanchaSiNo($index,0)" ng-disabled="!cancha.juegaCancha" class="btn btn-sm btn-danger">
                                            <i class="glyphicon glyphicon-remove-circle">
                                            </i>
                                        </button>
                                        <label>{{cancha.siNo}}</label>

                                    </td>
                                    
                                </tr>
                            </table>

                        </fieldset>
                    </section>
                    
                </div>    
                
            </div>
            
          
           
        </div>
    </div>
        

 
   <div class="clearfix"></div>
        
    <div/>    
 
         <!--modal nueva imagen-->
    <div id="imagenModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-registracion">
            <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
              
                <div class="modal-body">
                      <div class = 'form-horizontal well'>
                        <fieldset>
                             <div class="col-xs-12 col-sm-6 col-md-12">
                                <img src="/../resergol1.1/images/canchas/cancha2.jpg" class="img-responsive" alt="Image" >
                             </div>
                          </fieldset>
                        </div>
                    
                            
                        <fieldset>
                            <div class="form-group">
                               <div class="col-md-6"> 
                                    <div class="form-group">
                                        <button class="btn  btn-md btn-info btn-block" style="border-radius: 7px;">
                                             <i class="glyphicon glyphicon-folder-open"></i>
                                             Seleccionar
                                        </button>   
                                    </div>
                                </div>
                                
                               
                                <div class="col-md-6"> 
                                    <div class="form-group">
                                        <button class="btn  btn-md btn-success btn-block" style="border-radius: 7px;">
                                            <i class="glyphicon glyphicon-floppy-save"></i>
                                            Guardar foto
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        
                        
                        
                        
                        </div>
                                          </form>
                      </div>
              </div>
            </div>    
        
    
    
  