    <div class="container-fluid">
        
        <header class="row widget" >
            <div style = "color: white; " class="container">
                <h3  style=" font-size: 50px; text-align:center; font-style:italic;" ></span>Mis Torneos</h3>
            </div>
        </header>
    </div>    


    
    
    <div class="container" id="main">
        <div class="container">
            
            <div class=" principal row " style="margin-bottom: 0px;">
                
                <div class="col-md-4">
                    
                    <section class="widget">
                        <header>
                            <h4><i class="fa fa-user"></i>Filtros</h4>
                        </header>
                        
                        <fieldset>
                        <div class="body">
                            <p class="mensajeExplicacion">Buscar torneos.</p>
                            
                            <div class="form-group">
                                <form action="" class="">
                                    
                                     <div class="form-group">
                                        <label for="nombre" class="control-label col-sm-4">Nombre</label>
                                        <div class="col-xs-12 col-sm-8">    
                                            <select id="nombre" required="required"
                                                    data-placeholder="" 
                                                    class="select2 form-control" 
                                                    name="nombre" style="margin-bottom:5px;">
                                                <option value="1" selected="selected">Sudamericana</option>
                                                <option value="2">Copa Argentina</option>
                                                <option value="3">Libertadores</option>
                                            </select>
                                        </div>
                                         
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="cantJugadores" class="control-label col-sm-4">Jugadores</label>
                                        <div class="col-xs-12 col-sm-8">    
                                            <select id="cantJugadores" required="required"
                                                    data-placeholder="" 
                                                    class="select2 form-control" 
                                                    name="cantJugadores" style="margin-bottom:5px;">
                                                <option value="1" selected="selected">5 vs 5</option>
                                                <option value="2">6 vs 6</option>
                                                <option value="3">7 vs 7</option>
                                                <option value="1">8 vs 8</option>
                                                <option value="6">9 vs 9</option>
                                                <option value="5">10 vs 10</option>
                                                <option value="7">11 vs 11</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="form-group">
                                        <label for="superficie" class="control-label col-sm-4">Superficie</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <select id="superficie" required="required"
                                                    data-placeholder="" 
                                                    class="select2 form-control" 
                                                    name="superficie" style="margin-bottom:5px;">
                                                <option value="1" selected="selected">Sintetico</option>
                                                <option>Tierra</option>
                                                <option>Cesped</option>
                                                <option>Baldoza</option> 
                                            </select>
                                        </div>    
                                    </div>        
                                    
                                    <div class="form-group" >
                                        <label for="" class="control-label col-sm-5">Tipo de torneo</label>
                                        <div class="col-sm-12" >
                                            <label class="checkbox-inline"><input type="checkbox" value="" >Eliminación directa</label>
                                            <label class="checkbox-inline"><input type="checkbox" value="" >Liga</label>
                                        </div>
                                    </div>
                                    
                                    
                                 
                                    
                                     <div class="form-group" >
                                        <label for="" class="control-label col-sm-4" style="margin-top:10px;">Estado</label>
                                        <div class="col-sm-12" >
                                            <label class="checkbox-inline"><input type="checkbox" value="" >Activo</label>
                                            <label class="checkbox-inline"><input type="checkbox" value="" >Inscripción</label>
                                            <label class="checkbox-inline"><input type="checkbox" value="" >Finalizado</label>
                                        </div>
                                    </div>
                                    
                                    
                                    
                                    
                                     <div class="form-group" >
                                        <div class="col-md-12"> 
                                            <div class="form-group" style="margin-top:10px;">
                                                <a href="DuenioCanchaImg.html" class="btn  btn-md btn-primary btn-block" style="border-radius: 7px;" role="button">
                                                    <i class="glyphicon glyphicon-search"></i>
                                                    Buscar
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </form>
                        </div>
                        </fieldset>
                    </section>
                    
                    <section class="widget">
                        <header>
                            <h4><i class="fa fa-user"></i>Equipos inscriptos</h4>
                        </header>
                        
                        <fieldset>
                        <div class="body">
                            <p class="mensajeExplicacion">equipos insciptos a la Sudamericana.</p>
                            
                            <p class="mensajeExplicacion">Cantidad de inscriptos 4.</p>
                            <p class="mensajeExplicacion">Lugares disponibles 12.</p>
                                    
                            <div class="form-group">
                                <form action="" class="">
                                    
                                     
                                    <table class="table table-responsive"> 
                                        <!-- table head-->
                                        <thead>
                                            <tr>
                                                <th>Equipo</th>
                                                <th>Fecha insc.</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Los andes</td>
                                                <td>04/10/2015</td>
                                            </tr>
                                            <tr>
                                                <td>Los andes</td>
                                                <td>04/10/2015</td>
                                            </tr>
                                            <tr>
                                                <td>Los andes</td>
                                                <td>04/10/2015</td>
                                            </tr>
                                            <tr>
                                                <td>Los andes</td>
                                                <td>04/10/2015</td>
                                            </tr>
                                        </tbody>    
                                    </table>        

                                </form>
                                
                                 <a class="btn  btn-md btn-primary btn-block"  style="border-radius: 7px;" role="button">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                    Armar Fixture!
                                 </a>
                                
                        </div>
                        </fieldset>
                    </section>
                    
                </div>
             
                <div class="col-xs-12 col-sm-6 col-md-8">
                    
                        <section class="widget">
                        <header>
                            <h4><i class="fa fa-user"></i>Copa Sudamericana</h4>
                        </header>
                        
                        <fieldset>
                        <div class="body">
                            <p class="mensajeExplicacion">Configuración del torneo.</p>
                            
                            <div class="form-group">
                                <form action="" class="">
                                    
                                     <div class="form-group">
                                        <label for="nombre" class="control-label col-sm-4">Nombre</label>
                                        <div class="col-xs-12 col-sm-8">    
                                           <input placeholder="Ingrese un nombre" id="nombreD" class="form-control input-transparent" style="margin-bottom:5px;" type="text" name="nombre" value="Sudamericana">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="TipoTorneo" class="control-label col-sm-4">Tipo de torneo</label>
                                        <div class="col-xs-12 col-sm-8">    
                                            <select id="TipoTorneo" required="required"
                                                    data-placeholder="" 
                                                    class="select2 form-control" 
                                                    name="TipoTorneo" style="margin-bottom:5px;">
                                                <option value="1" selected="selected">Eliminación directa</option>
                                                <option value="2">Liga</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="cantJugadores" class="control-label col-sm-4">Jugadores</label>
                                        <div class="col-xs-12 col-sm-8">    
                                            <select id="cantJugadores" required="required"
                                                    data-placeholder="" 
                                                    class="select2 form-control" 
                                                    name="cantJugadores" style="margin-bottom:5px;">
                                                <option value="1" selected="selected">5 vs 5</option>
                                                <option value="2">6 vs 6</option>
                                                <option value="3">7 vs 7</option>
                                                <option value="1">8 vs 8</option>
                                                <option value="6">9 vs 9</option>
                                                <option value="5">10 vs 10</option>
                                                <option value="7">11 vs 11</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="form-group">
                                        <label for="superficie" class="control-label col-sm-4">Superficie</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <select id="superficie" required="required"
                                                    data-placeholder="" 
                                                    class="select2 form-control" 
                                                    name="superficie" style="margin-bottom:5px;">
                                                <option value="1" selected="selected">Sintetico</option>
                                                <option>Tierra</option>
                                                <option>Cesped</option>
                                                <option>Baldoza</option> 
                                            </select>
                                        </div>    
                                    </div>        
                                    
                                    <div class="form-group">
                                        <label for="TipoPartidos" class="control-label col-sm-4">Tipo de partido</label>
                                        <div class="col-xs-12 col-sm-8">    
                                            <select id="TipoPartidos" required="required"
                                                    data-placeholder="" 
                                                    class="select2 form-control" 
                                                    name="TipoPartidos" style="margin-bottom:5px;">
                                                <option value="1" selected="selected">Ida</option>
                                                <option value="2">Ida y vuelta</option>
                                            </select>
                                        </div>
                                    </div>
                                   
                                    
                                    <div class="form-group">
                                        <label for="precio" class="control-label col-sm-4">Precio de inscripción</label>
                                        <div class="col-xs-12 col-sm-8">    
                                            <input id="precio" class="form-control input-transparent" style="margin-bottom:5px;" type="text" placeholder="$ 300"  name="precio" />
                                        </div>    
                                    </div>  
                                    
                                    <div class="form-group " >
                                        <label for="calle" class="control-label col-sm-4">Fechas de inscripción</label>
                                        
                                         <div class="form-group">
                                            <div class="col-xs-12 col-sm-4">  
                                                 <div class='input-group date'>
                                                    <input type='text'  class="form-control" id="fecha" placeholder="Desde" style="height:31px;"/>
                                                    <span class="input-group-addon"  style="height:30px;"  onclick="mostrarCalendario()" >
                                                    <span class="glyphicon glyphicon-calendar"  ></span>
                                                    </span>
                                                </div>
                                            </div>
                                            
                                            
                                            <div class="col-xs-12 col-sm-4" style="margin-bottom:5px;">  
                                              <div class='input-group date'>
                                                    <input type='text'  class="form-control" id="fecha" placeholder="Hasta" style="height:31px;"/>
                                                    <span class="input-group-addon"  style="height:30px;"  onclick="mostrarCalendario()" >
                                                    <span class="glyphicon glyphicon-calendar"  ></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </div>
                                    
                                    <div class="form-group ">
                                        <label for="calle" class="control-label col-sm-4">Fechas Inicio y Fin</label>
                                        
                                        <div class="form-group">
                                            <div class="col-xs-12 col-sm-4">  
                                                 <div class='input-group date'>
                                                    <input type='text'  class="form-control" id="fecha" placeholder="Desde" style="height:31px;"/>
                                                    <span class="input-group-addon"  style="height:30px;"  onclick="mostrarCalendario()" >
                                                    <span class="glyphicon glyphicon-calendar"  ></span>
                                                    </span>
                                                </div>
                                            </div>
                                                
                                            
                                            <div class="col-xs-12 col-sm-4">  
                                                <div class='input-group date'  style="margin-bottom:5px;">
                                                    <input type='text'  class="form-control" id="fecha" placeholder="Hasta" style="height:31px;"/>
                                                    <span class="input-group-addon"  style="height:30px;"  onclick="mostrarCalendario()" >
                                                    <span class="glyphicon glyphicon-calendar"  ></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="horas" class="control-label col-sm-4">Tiempo de aviso de cancelación al torneo (horas)</label>
                                        <div class="col-xs-12 col-sm-8">    
                                            <input id="horas" class="form-control input-transparent" style="margin-bottom:5px;" type="text" placeholder="24 hs"  name="horas" />
                                        </div>    
                                    </div>  
                                    
                                    
                                    
                                    <div class="form-group col-sm-12" style="margin-top:15px;">
                                        <label for="descripcion" class="control-label   col-sm-6">Descripción</label>
                                    </div>
                                
                                    <div class="form-group"  >
                                        <div class="col-sm-12"  style="margin-bottom:15px; margin-top:2px;">
                                            <textarea placeholder="Descripción breve del torneo." class="form-control" rows="3"></textarea>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group" style="margin-top:10px;">
                                        <label for="descripcion" class="control-label   col-sm-4">Reglas<span class=""></span></label>
                                    </div>
                                
                                    <div class="form-group">
                                        <div class="col-sm-12" style="margin-bottom:30px;" >
                                            <textarea placeholder="Reglas del torneo." class="form-control" rows="3"></textarea>
                                        </div>
                                    </div>
                                    
                                   
                                
                                    
                                    <div class="form-group" >
                                        <div class="col-md-6"> 
                                            <div class="form-group">
                                                <a ui-sref="Clientes.verTorneoLiga" class="btn  btn-md btn-success btn-block"  style="border-radius: 7px;" role="button">
                                                    <i class="glyphicon glyphicon-hand-right"></i>
                                                    Ver torneo
                                                </a>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-6"> 
                                            <div class="form-group">
                                                <a  class="btn  btn-md btn-primary btn-block" style="border-radius: 7px;" role="button">
                                                    <i class="glyphicon glyphicon-plus"></i>
                                                    Nuevo
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <div class="col-md-4"> 
                                            <div class="form-group"  >
                                                <button class="btn  btn-md btn-danger btn-block" style="border-radius: 7px;">
                                                <i class="glyphicon glyphicon-trash"></i>
                                                    Eliminar
                                                </button>   
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-4"> 
                                            <div class="form-group">
                                                <a ui-sref="Duenios.torneoImagenes" class="btn  btn-md btn-info btn-block"  style="border-radius: 7px;" role="button">
                                                    <i class="glyphicon glyphicon-camera"></i>
                                                    Imagenes
                                                </a>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-4"> 
                                            <div class="form-group">
                                                <button class="btn  btn-md btn-success btn-block" style="border-radius: 7px;">
                                                 <i class="glyphicon glyphicon-floppy-save"></i>
                                                    Guardar
                                                </button>
                                            </div>
                                        </div>
                                    </div> 
                                    
                                    
                                    
                                </form>
                        </div>
                        </fieldset>
                    </section>
                    
                </div>
                
            </div>
            
            <div class="principal row">
            	<div class="col-md-3 seleccion">
    				<p>
    					<img src="/../resergol1.1/images/canchas/cancha1.jpg" class="img-responsive" alt="">
    				</p>
        	    </div>
                
                <div class="col-md-3 seleccion">
    				<p>
    					<img src="/../resergol1.1/images/canchas/cancha1.jpg" class="img-responsive" alt="">
    				</p>
        	    </div>
        	    
        	    <div class="col-md-3 seleccion">
    				<p>
    					<img src="/../resergol1.1/images/canchas/cancha1.jpg" class="img-responsive" alt="">
    				</p>
        	    </div>
        	    
        	    <div class="col-md-3 seleccion">
    				<p>
    					<img src="/../resergol1.1/images/canchas/cancha1.jpg" class="img-responsive" alt="">
    				</p>
        	    </div>
            </div>
            
             <div class="row">
            	<div class="col-md-3 seleccion">
    				<p>
    					<img src="/../resergol1.1/images/canchas/cancha1.jpg" class="img-responsive" alt="">
    				</p>
        	    </div>
                
                <div class="col-md-3 seleccion">
    				<p>
    					<img src="/../resergol1.1/images/canchas/cancha1.jpg" class="img-responsive" alt="">
    				</p>
        	    </div>
        	    
        	    <div class="col-md-3 seleccion">
    				<p>
    					<img src="/../resergol1.1/images/canchas/cancha1.jpg" class="img-responsive" alt="">
    				</p>
        	    </div>
        	    
        	    <div class="col-md-3 seleccion">
    				<p>
    					<img src="/../resergol1.1/images/canchas/cancha1.jpg" class="img-responsive" alt="">
    				</p>
        	    </div>
            </div>
        </div>
    </div>
        


    <!--pi-->
    <div class="clearfix"></div>
        
        
        
    <div/>    
 
    
  