
    <div class="container  ">
        <div class="container">
            <header class="row widget" >
                <div style = "color: white; " class="container">
                    <h3  style=" font-size: 50px; text-align:center; font-style:italic;" ></span>Buscar torneo</h3>
                </div>
            </header>
        </div>
    </div>    

    
    <div class="container" id="mainTorneo" ng-controller="TorneoBuscarControler as tor" >
        <div class="container widget col-xs-12 col-sm-6 col-md-12">
            <header>
                <h4><i class="fa fa-user"></i><p class="mensajeExplicacion">Selecciones los estados de los torneos que desea visualizar</h4>
            </header>

            <div class="col-sm-12"> 
                <label class="checkbox-inline"><input type="checkbox" id="techada" value="">Activos</label>
                <label class="checkbox-inline"><input type="checkbox" id="conLuz" value="">En inscripción</label>
                <label class="checkbox-inline"><input type="checkbox" id="conLuz" value="">Finalizados</label>
                <label class="checkbox-inline"><input type="checkbox" id="conLuz" value="">Todos</label>
                <button class="btn btn-md btn-info  " style="margin-left:15px;" ng-click="">
                    <i class="fa fa-plus glyphicon glyphicon-search"></i>Buscar
                </button>
            </div>
            
            <br> <br/>
            <br> <br/>
            
            
            <table ng-table="tor.table" class="table table-condensed table-bordered table-striped" style="background-color:lightgrey;">
                    <tr ng-repeat="dia in tor.diasDesde.tipos" style="background-color:white;">
                        <td title=""  ng-if="false">{{dia.iddia}}</td>
                        <td title="'Dia'"  >{{dia.nombre}}</td>
                        <td title="'Desde'" ng-switch="true" style="width:25%">
                             <span ng-switch-default class="editable-text">{{dia.HoraDesde}}</span>
                            <div class="controls" ng-class="" ng-switch-when="true">
                                <input type="time" 
                                       step="3600"
                                       name="HoraDesde" 
                                       ng-model="dia.HoraDesde" 
                                       class="editable-input form-control "
                                       min={{dia.desdeMin}} max={{dia.hastaMax}}
                                       required/>
                            </div>
                        </td>
                        <td title="'Hasta'" ng-switch="true" style="width:25%">
                            <span ng-switch-default class="editable-text">{{dia.HoraHasta}}</span>
                            <div class="controls" ng-class="" ng-switch-when="true">
                                <input type="time" 
                                       step="3600"
                                       name="HoraDesde" 
                                       ng-model="dia.HoraHasta" 
                                       min={{dia.desdeMin}} max={{dia.hastaMax}}
                                       class="editable-input form-control" required/>
                            </div>
                        </td>
                        <td title="'Juega'">
                            <button type="button" ng-click="tor.juegaSiNo($index,true)" ng-disabled="dia.juega" class="btn btn-sm btn-success">
                                <i class="glyphicon glyphicon glyphicon-ok">
                                </i>
                            </button>

                            <button type="button" ng-click="tor.juegaSiNo($index,false)" ng-disabled="!dia.juega" class="btn btn-sm btn-danger">
                                <i class="glyphicon glyphicon-remove-circle">
                                </i>
                            </button>
                            <label>{{dia.siNo}}</label>

                        </td>

                    </tr>
            </table>
                        
           
          
           
                
            
        </div>
    </div>

 
   <div class="clearfix"></div>
        
    <div/>    
 
       