<div class="container-fluid">
        
    <header class="row widget" >
        <div style = "color: white" class="container">
            <h3  style=" font-size: 50px; text-align:center;  font-style:italic;" >Lista negra de clientes</h3>
        </div>
    </header>
        
    <div class="col-md-12" ng-controller="AdministrarListaNegraController as admLis" style="background-color:white;">
        <table ng-table="adm.table" class="table table-condensed table-bordered table-striped" style="background-color:lightgrey;">
            <tr ng-repeat="usu in admLis.listaNegra" style="background-color:white;">
                <td class="text-center" title="'Cliente'">{{usu.Cliente}}</td>
                <td class="text-center" title="'Usuario'">{{usu.Usuario}}</td>
                <td class="text-center" title="'Fecha Ingreso'">{{usu.FechaIngreso}}</td>
                <td class="text-center" title="'ID-Usuario'" ng-if="false">{{usu.IdCliente}}</td>
                <td class="text-center" title="'Quitar'">
                    <button type="button" ng-click="admLis.sacarDeLista(usu)" class="btn btn-sm btn-danger">
                        <i class="glyphicon glyphicon-remove-circle"></i>
                    </button>
				</td>
            </tr>
        </table>
    </div>
        
    
    <div class="clearfix">
    
    </div>
        
</div>    
 
	