<div class="container-fluid">

    <br>
    
    <div class="container">
        <div class ="principal row">
            <!-- Comienza la clase  row -->
           
           <div class="col-md-6">
                <section class="widget">
                    <div class="body">
                        <form id="user-form" class="form-horizontal form-label-left">
                            <fieldset>
                                <legend class="section-buscar legend-mod">Filtros de torneos</legend></legend>
                                
                                
                                <label for="precio" class="control-label col-sm-2">Nombre</label>
                                <div class="col-sm-10">       
                                    <input  type="text" id="precio" class="input-sm col-sm-3 form-control" 
                                           style="margin-bottom:9px;">
                                </div>
                            
                                <label for="provincias" class="control-label col-sm-2">Tipo</label>    
                          
                                <div class=" col-sm-4 ">
                                    <select id="provincias" required="required"
                                            class="form-control" 
                                            name="provincias" style="margin-bottom:5px;">
                                        <option value=""></option>
                                        <option value="1"  selected="selected">Eliminación</option>
                                        <option value="2">Liga</option>
                                    </select>
                                </div>    
                          
                                <label for="localidades" class="control-label col-sm-2">Equipos</label>
                                <div class=" col-sm-4">    
                               
                                    <select id="localidades" required="required"
                                            data-placeholder="Seleccione una localidad" 
                                            class=" form-control" 
                                            name="localidades" style="margin-bottom:5px;">
                                        <option value=""></option>
                                        <option value="1">8</option>
                                        <option value="2">16</option>
                                        <option value="3"  selected="selected">32</option>
                                    </select>
                                </div>
                            
                                <label for="provincias" class="control-label col-sm-2">Provincia</label>    
                          
                                <div class=" col-sm-4 ">
                                    <select id="provincias" required="required"
                                            data-placeholder="Seleccione una provincia" 
                                            class="form-control" 
                                            name="provincias" style="margin-bottom:5px;">
                                        <option value=""></option>
                                        <option value="1">Buenos Aires</option>
                                        <option value="2">Capital Federal</option>
                                        <option value="3">Córdoba</option>
                                        <option value="4" selected="selected">Mendoza</option>
                                    </select>
                                </div>    
                          
                                <label for="localidades" class="control-label col-sm-2">Localidad</label>
                                <div class=" col-sm-4">    
                               
                                    <select id="localidades" required="required"
                                            data-placeholder="Seleccione una localidad" 
                                            class=" form-control" 
                                            name="localidades" style="margin-bottom:5px;">
                                        <option value=""></option>
                                        <option value="1">Morón</option>
                                        <option value="2">Capital Federal</option>
                                        <option value="3">Lomas de zamora</option>
                                        <option value="4" selected="selected">Avellaneda</option>
                                    </select>
                                </div>
                            
                                <label for="jugadores" class="control-label col-sm-2">Jugadores</label>
                                <div class="col-sm-4">
                                    <select id="provincias" required="required"
                                            class=" form-control" 
                                            name="provincias" style="margin-bottom:5px;">
                                        <option value="1" selected="selected">5 vs 5</option>
                                        <option value="2">6 vs 6</option>
                                        <option value="3">7 vs 7</option>
                                        <option value="1">8 vs 8</option>
                                        <option value="6">9 vs 9</option>
                                        <option value="5">10 vs 10</option>
                                        <option value="7">11 vs 11</option>
                                    </select>
                                </div>    
                          
                                <label for="superficie" class="control-label col-sm-2">Superficie</label>
                                <div class="col-sm-4">    
                                    <select id="superficie" required="required"
                                            data-placeholder="Seleccione una localidad" 
                                            class="select2 form-control" 
                                            name="localidades" style="margin-bottom:5px;">
                                        <option value="1" selected="selected">Sintetico</option>
                                        <option>Tierra</option>
                                        <option>Cesped</option>
                                        <option>Baldoza</option> 
                                    </select>
                                </div>
                             
                              
                                <br>
                            
                                
                                
                               <div class="col-sm-12"  style="margin-bottom:10px;">
                                    <label class="checkbox-inline"><input type="checkbox" value="">Activos</label>
                                    <label class="checkbox-inline"><input type="checkbox" value="">Finalizados</label>
                                    <label class="checkbox-inline"><input type="checkbox" value="">Ida y Vuelta</label>
                                </div>
                                
                               <br>
                                
                                <div class="col-sm-12">
                                    <button class="btn btn-md btn-success btn-block"><i class="fa fa-plus glyphicon
                                                            glyphicon-search"></i>Buscar</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </section>
               
            </div>    
         

            <div class="col-md-6">
                    <div class="col-md-6 carousel-container anchoCarousel ">
                        <div id="carouselComplejos" class="carousel slide carousel-fade">
                            <!-- Carousel items -->
                            <div class="carousel-inner carousel-altoTorneos">
                                <div data-slide-no="0" class="item carousel-item active">
                                    <img src="/../resergol1.1/images/complejos/complejo1.jpeg" alt="">
                                    <div class="carousel-caption">
                                    </div>
                                </div>
                                <div data-slide-no="1" class="item carousel-item">
                                    <img src="/../resergol1.1/images/complejos/complejo2.jpg" alt="">
                                    <div class="carousel-caption">
                                    </div>
                                </div>
                                <div data-slide-no="2" class="item carousel-item">
                                    <img src="/../resergol1.1/images/complejos/complejo3.jpg" alt="">
                                    <div class="carousel-caption">
                                    </div>
                                </div>
                            </div>
                            <!-- Carousel nav -->
                            <a class="carousel-control left" href="#carouselComplejos" data-slide="prev">‹</a>
                            <a class="carousel-control right" href="#carouselComplejos" data-slide="next">›</a>
                        </div>

                    </div>
                
            </div> 

            </div>
            <!-- /.row -->
            <hr>
            <!-- aca dejar un unico cuadro y crear en con ng-repeat los cuadros necesarios -->
            <div class ="principal row filtro-Complejos" ng-controller="ClientesController as cli">
                <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="img-responsive" src="/../resergol1.1/images/complejos/complejo2.jpg" alt="" ng-click="cli.irTorneo()">
                    </a>
                    <h3>
                        <p href="#"><strong>Sudamericana</strong></p>
                    </h3>
                    <p>Descripcion Sencilla</p>
                </div>
                
                 <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="img-responsive" src="/../resergol1.1/images/complejos/complejo2.jpg" alt="" ng-click="cli.irTorneo()">
                    </a>
                    <h3>
                        <p href="#"><strong>Libertadores</strong></p>
                    </h3>
                    <p>Descripcion Sencilla</p>
                </div>
                
                 <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="img-responsive" src="/../resergol1.1/images/complejos/complejo2.jpg" alt=""  ng-click="cli.irTorneo()">
                    </a>
                    <h3>
                        <p href="#"><strong>Champions</strong></p>
                    </h3>
                    <p>Descripcion Sencilla</p>
                </div>
                
                 <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="img-responsive" src="/../resergol1.1/images/complejos/complejo2.jpg" alt=""  ng-click="cli.irTorneo()">
                    </a>
                    <h3>
                        <p href="#"><strong>UEFA</strong></p>
                    </h3>
                    <p>Descripcion Sencilla</p>
                </div>
            </div> 
    </div>
</div>     
<hr>