<div class="container-fluid">

    <br>
     <!--Filtros
            A NIVEL CANCHA
                Localidad
                provincia
                dia
                horario
                CantJugadores	  INT          NOT NULL,
                IdSuperficie	  INT          NOT NULL,
                Techada	        BOOL         NOT NULL,
                Luz	            BOOL         NOT NULL,
                Precio	        DECIMAL(6,2) NOT NULL,
            A NIVEL COMPLEJO
                Estacionamiento		bool			NOT NULL,
                Buffet				bool			NOT NULL,
                Duchas				bool			NOT NULL,
                Parrillas			bool			NOT NULL,
                WiFi				bool			NOT NULL
            -->
    
    <div class="container" ng-controller="BuscarCanchasController as bus">
        <div class ="principal row">
            <!-- Comienza la clase  row -->
           
           <div class="col-md-6">
                <section class="widget">
                    <div class="body">
                        <form id="user-form" class="form-horizontal form-label-left">
                            <fieldset>
                                <legend class="section-buscar legend-mod">Datos de la cancha</legend></legend>
                                <label for="provincias" class="control-label col-sm-2">Provincia</label>    
                          
                                <div class=" col-sm-4 ">
                                  
                                    <select style="margin-bottom:5px;" class="form-control ac-select stateList" ng-model="bus.provincias.selectedOption" 
                                            
                                            ng-options="provincia as provincia.Nombre for provincia in bus.provincias.prov track by
                                                        provincia.IdProvincia" ng-change="bus.getLocalidades()">
                                    </select> 
                                </div>    
                          
                                <label for="localidades" class="control-label col-sm-2">Localidad</label>
                                <div class=" col-sm-4">    
                                    <select data-live-search="true" style="margin-bottom:5px;" class="form-control" ng-model="bus.localidades.selectedOption" 
                                                ng-options="localidad.Nombre for localidad in bus.localidades.loc track by               localidad.Nombre" >
                                    </select>
                                </div>
                            
                                <label for="jugadores" class="control-label col-sm-2">Jugadores</label>
                                <div class="col-sm-4">
                                    
                                    <select data-live-search="true" style="margin-bottom:5px;" class="form-control" ng-model="selectedCantJugadoresId" 
                                                ng-options="cantJugador.id as cantJugador.desc for cantJugador in bus.cantJugadores" >
                                    </select>
                                    
                                    
                                    <!--<select id="jugadores" required="required"
                                            class=" form-control" 
                                            name="jugadores" style="margin-bottom:5px;">
                                        <option value="5" selected="selected">5 vs 5</option>
                                        <option value="6">6 vs 6</option>
                                        <option value="7">7 vs 7</option>
                                        <option value="8">8 vs 8</option>
                                        <option value="9">9 vs 9</option>
                                        <option value="10">10 vs 10</option>
                                        <option value="11">11 vs 11</option>
                                    </select>-->
                                </div>    
                          
                                <label for="superficie" class="control-label col-sm-2">Superficie</label>
                                <div class="col-sm-4">    
                                    <select  data-live-search="true" style="margin-bottom:5px;" class="form-control" ng-model="bus.superficies.selectedOption" 
                                            ng-options="superficie.Descripcion for superficie in bus.superficies.sup track by
                                                        superficie.IdSuperficie">
                                    </select> 
                                </div>
                             
                               <label for="sel2" class="control-label col-sm-2" >Fecha</label>
                               <div class="col-sm-4">    
                                    <p class="input-group">
                                                      <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Cerrar" alt-input-formats="altInputFormats" />
                                                      <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                      </span>
                                   </p>
                                </div>
                            
                            
                                <label for="horas" class="control-label col-sm-2">Hora</label>
                                <div class="col-sm-4">    
                                    <select id="superficie" required="required"
                                            data-placeholder="Seleccione una localidad" 
                                            class="select2 form-control" 
                                            name="localidades" style="margin-bottom:5px;">
                                        <option value="1" selected="selected">18 Hs</option>
                                        <OPTION>18 Hs</OPTION> 
                                        <OPTION>19 Hs</OPTION> 
                                        <OPTION>19 Hs</OPTION> 
                                        <OPTION>20 Hs</OPTION> 
                                        <OPTION>21 Hs</OPTION> 
                                        <OPTION>22 Hs</OPTION> 
                                    </select>
                                </div>
                              
                                <br>
                            
                                
                            
                            <label for="precio" class="control-label col-sm-3 ">Precio máximo</label>
                                <div class="col-sm-3">       
                                    <input   type="number" id="precioMaximo" class="input-sm col-sm-3 form-control">
                                </div>
                                
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-12"> 
                                        <label class="checkbox-inline"><input type="checkbox" id="techada" value="">Techada</label>
                                        <label class="checkbox-inline"><input type="checkbox" id="conLuz" value="">Con Luz</label>
                                    </div>
                                    
                                </div>
                                
                             
                                           
                            
                                
                                
                                <!----------------------------------------------------------------------------------------->
                                <legend class="section-buscar legend-mod">Datos del complejo</legend>    
                                        
                                <div class="form-group " >
                                    <div class="col-sm-12">
                                        <label class="checkbox-inline"><input type="checkbox" id="conEstac" value="">Estacionamiento</label>
                                        <label class="checkbox-inline"><input type="checkbox" id="conDuchas" value="">Duchas</label>
                                        <label class="checkbox-inline"><input type="checkbox" id="conBuffet" value="">Buffet</label>
                                        <label class="checkbox-inline"><input type="checkbox" id="conParrilla" value="">Parrilla</label>
                                        <label class="checkbox-inline"><input type="checkbox" id="conWifi" value="">WiFi</label>
                                    <div>
                                </div>
                                
                               <br>
                                
                                <div class="col-sm-12">
                                    <button class="btn btn-md btn-success btn-block" onclick="$('html,body').animate({scrollTop:1000},'slow');return false;" ng-click="bus.getCanchas()"><i class="fa fa-plus glyphicon glyphicon-search"></i>Buscar</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </section>
               
            </div>    
         

            <div class="col-md-6">
                    <div class="col-md-6 carousel-container anchoCarousel ">
                        <div id="carouselComplejos" class="carousel slide carousel-fade">
                            <!-- Carousel items -->
                            <div class="carousel-inner carousel-altoBusqueda">
                                <div data-slide-no="0" class="item carousel-item active">
                                    <img src="/../resergol1.1/images/complejos/complejo1.jpeg" alt="">
                                    <div class="carousel-caption">
                                    </div>
                                </div>
                                <div data-slide-no="1" class="item carousel-item">
                                    <img src="/../resergol1.1/images/complejos/complejo2.jpg" alt="">
                                    <div class="carousel-caption">
                                    </div>
                                </div>
                                <div data-slide-no="2" class="item carousel-item">
                                    <img src="/../resergol1.1/images/complejos/complejo3.jpg" alt="">
                                    <div class="carousel-caption">
                                    </div>
                                </div>
                            </div>
                            <!-- Carousel nav -->
                            <a class="carousel-control left" href="#carouselComplejos" data-slide="prev">‹</a>
                            <a class="carousel-control right" href="#carouselComplejos" data-slide="next">›</a>
                        </div>

                    </div>
                
            </div> 
            </div>
            <div ng-show="canchas.length > 0">
                <p>Mostrando {{canchasPaginadas.length}} de {{canchas.length}} canchas.</p>
            </div>
            <!--<div ng-show="bus.canchas.length == 0">
                <p>No se encontraron canchas.</p>
            </div>-->
            
            <!-- /.row -->
            <hr>
            <!-- aca dejar un unico cuadro y crear en con ng-repeat los cuadros necesarios -->
            <div class ="principal row filtro-Complejos" ng-controller="ClientesController as cli">
                
                
                <div class="col-lg-3" style="height:250px;" ng-repeat="cancha in canchasPaginadas">
    				<div class="cuadro_intro_hover" style="background-color:#cccccc; height:250px;">
						<p>
							<img src="/../resergol1.1/images/canchas/cancha1.jpg" class="img-thumbnail" style="height:250px;" alt="">
						</p>
						<div class="caption">
							<div class="blur"></div>
							<div class="caption-text">
								<h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:1px;">                       {{cancha.NombreCancha}}
                                    <button class="btn-xs btn-primary" id="cuatro">"Muy buena!"</button>
                                </h3>
                                <h4 class="fa fa-user titul" style="padding:1px;">
                                    en <a style="color:orange;" ui-sref="Clientes.verComplejo">{{cancha.NombreComplejo}}</a>             
                                </h4>
                                <h6 style="border-bottom:1px solid white; padding:3px;">
                                {{cancha.Calle}} {{cancha.Altura}}
                                </h6>
								<ul>
                                    <!--<li>Dirección: {{cancha.Calle}} {{cancha.Altura}}</li>-->
                                    <li>Tamaño: {{cancha.CantJugadores}} vs. {{cancha.CantJugadores}} </li>
                                    <li>Superficie: {{cancha.Superficie}}</li>
                                    <li>Techada: {{cancha.Techada == 1 ? "SI" : "NO"}} </li>
                                    <li>Luz: {{cancha.Luz == 1 ? "SI" : "NO"}}</li>
                                    <li>Precio p/Hora: ${{cancha.Precio}} </li>
                                </ul>
                                <div class="col-md-12 text-center">
								<a href="#" class="btn btn-success"><span class="glyphicon glyphicon-eye-open"></span> VER</a>
                                </div>
							</div>
						</div>
					</div>
	           </div>
                
                  
				
    </div>
    
      <div class="text-center">        
        <uib-pagination previous-text="Anterior" next-text="Siguiente" first-text="Inicio" last-text="Fin" total-items="totalItems" ng-show = "canchas.length > 0" items-per-page="itemsPerPage" ng-model="pagination.currentPage" class="pagination-sm" boundary-links="true" num-pages="numPages" on-select-page="onGoToPage(page)" ng-change="pageChanged(pagination.currentPage)"></uib-pagination>       
      </div>
            
</div>     
<hr>