<div class="col-md-12 " style="margin-top:10px;" >      
    <section class="widget">
        <fieldset>
        <div class="body">
             
            <legend class="section-buscar legend-mod">Inscripción</legend></legend>
                                              
            <label for="precio" class="control-label col-sm-2">Nombre del equipo</label>
            <div class="col-sm-3">       
                <input  type="text" id="precio" class="input-sm col-sm-3 form-control" 
                       style="margin-bottom:9px;">
            </div>
            <label for="precio" class="control-label col-sm-2">Foto del equipo</label>
             <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="/../resergol1.1/images/complejos/complejo2.jpg" alt="">
                </a>
               <div class="form-group">
                    <button class="btn  btn-md btn-info btn-block" style="border-radius: 7px;">
                         <i class="glyphicon glyphicon-folder-open"></i>
                         Seleccionar
                    </button>   
                </div>
            </div>
 

            <div class="form-group">
                
            </div>

            <br>
            <br>
            <br>

            <div class="form-group">
                <div class="col-xs-12 col-sm-12 col-md-12"> 
                   
                    <hr>
                    <div class="row">
                    <div class="col-md-4">
                        <span class="uneditable-input h3">A pagar: $380</span>
                    </div>
                    <div class="col-md-2">
                        <button id="activate-step-2" class="btn btn-primary btn-md">Realizar Pago</button>
                    </div>
                        <div class="col-md-6">
                        <button id="" ui-sref="Clientes.verCancha" onclick="$('html,body').animate({scrollTop:10},'slow');return false;" class="btn btn-danger btn-md">CANCELAR / VOLVER</button>
                    </div>

                    </div>
                    <hr>
                </div>
               
            </div>
        </form>

    </div>
</div>