<div class="container">
    <hr>
    <div class="row">
            <div class="col-md-3 boxComplejo"> 
                <section class="widget2 boxInfoReserva">
                    <div class="row">
                     <header>
                        <h3 class="fa fa-user titul">Estás reservando...</h3>
                         <h5 class="fa fa-user titul">Maracaná, en  <a ui-sref="Clientes.verComplejo">Todo Futbol Club</a></h5>
                     </header>
                      <!--<div class="imgMiniatura">
                            <img src="images/complejos/complejo1.jpeg" alt="">
                      <div>-->
                          
                      <ul class="liSeparados">
                          <li>
                        <b>Provincia:</b> <label>Buenos Aires</label>
                          </li>
                          <li>
                            <b>Localidad:</b> <label>Lomas de Zamora</label>  
                          </li>
                          <li>
                            <b>Direccion:</b> <label>Laprida 950</label>  
                          </li>
                          <li>
                           <b>Teléfono:</b> <label>4-244-1933</label>  
                          </li>
                          <li class="glyphicon glyphicon-time">
                            <label class="letraHorarios">L a V - 12hs - 18hs.</label>
                          </li>
                          <!--<li class="glyphicon glyphicon-time">
                            <label class="letraHorarios">S a D - 16hs - 22:30hs.</label>
                          </li>-->
                      </ul>
                    </div>   
                </section>
          </div>
         
           <div class="col-md-9 boxComplejo">      
           <section class="widget">
                    <fieldset>
                    <div class="body">
                        <!--<p class="mensajeExplicacion">Administre aquí los datos del dueño del complejo.</p>-->
                        <div class="form-group">
                            <form action="" class="">
                                <div class="form-group">
                                    <label for="diaReserva" class="control-label col-sm-1">Día:<span class="required"></span></label>
                                    <div class='col-sm-4 input-group date'>
                                    <input type='text'  class="form-control" id="fecha" style="height:31px;"/>
                                    <span class="input-group-addon" id="fechaReserva" onclick="mostrarCalendario()" >
                                    <span class="glyphicon glyphicon-calendar"  ></span>
                                    </span>
                                    </div>   
                                    
                                </div>
                                
                                <div class="form-group">
                                    <label for="desde" class="control-label col-sm-1">Desde <span class="required"></span></label>
                                    <div class="col-xs-12 col-sm-3">  
                                            <SELECT NAME="cboHoraDesde" style="height:30px;" SIZE=1 class="select2 form-control col-sm-2" placeholder=".col-lg-2"> 
                                            <OPTION >08 Hs</OPTION>
                                            <OPTION>09 Hs</OPTION>
                                            <OPTION>10 Hs</OPTION>
                                            <OPTION>11 Hs</OPTION> 
                                            <OPTION>12 Hs</OPTION> 
                                            <OPTION>13 Hs</OPTION> 
                                            <OPTION>14 Hs</OPTION> 
                                            <OPTION>15 Hs</OPTION>
                                            <OPTION>16 Hs</OPTION> 
                                            <OPTION>17 Hs</OPTION> 
                                            <OPTION>18 Hs</OPTION> 
                                            <OPTION>19 Hs</OPTION> 
                                            <OPTION>19 Hs</OPTION> 
                                            <OPTION>20 Hs</OPTION> 
                                            <OPTION>21 Hs</OPTION> 
                                            <OPTION>22 Hs</OPTION> 
                                            <OPTION  selected="selected">08 HS</OPTION> 
                                        </SELECT> 
                                    </div> 
                                    <label for="hasta" class="control-label col-sm-1">Hasta <span class="required"></span></label>
                                    <div class="col-xs-12 col-sm-3">  
                                            <SELECT NAME="cboHoraHasta" SIZE=1 class="input-small form-control col-sm-2"> 
                                            <OPTION>08 Hs</OPTION>
                                            <OPTION>09 Hs</OPTION>
                                            <OPTION>10 Hs</OPTION>
                                            <OPTION>11 Hs</OPTION> 
                                            <OPTION>12 Hs</OPTION> 
                                            <OPTION>13 Hs</OPTION> 
                                            <OPTION>14 Hs</OPTION> 
                                            <OPTION>15 Hs</OPTION>
                                            <OPTION>16 Hs</OPTION> 
                                            <OPTION>17 Hs</OPTION> 
                                            <OPTION>18 Hs</OPTION> 
                                            <OPTION>19 Hs</OPTION> 
                                            <OPTION>19 Hs</OPTION> 
                                            <OPTION>20 Hs</OPTION> 
                                            <OPTION>21 Hs</OPTION> 
                                            <OPTION>22 Hs</OPTION> 
                                            <OPTION  selected="selected">23 HS</OPTION> 
                                        </SELECT> 
                                    </div> 
                                </div>
  
                            </form>
                            
                            
                            
                            <div class="col-xs-12 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><img class="pull-right" src="http://i76.imgup.net/accepted_c22e0.png">Payment Details</h3>
                </div>
                <div class="panel-body">
                    <form role="form" id="payment-form">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="cardNumber">CARD NUMBER</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="cardNumber" placeholder="Valid Card Number" required autofocus data-stripe="number" />
                                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                    </div>
                                </div>                            
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7 col-md-7">
                                <div class="form-group">
                                    <label for="expMonth">EXPIRATION DATE</label>
                                    <div class="col-xs-6 col-lg-6 pl-ziro">
                                        <input type="text" class="form-control" name="expMonth" placeholder="MM" required data-stripe="exp_month" />
                                    </div>
                                    <div class="col-xs-6 col-lg-6 pl-ziro">
                                        <input type="text" class="form-control" name="expYear" placeholder="YY" required data-stripe="exp_year" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-5 col-md-5 pull-right">
                                <div class="form-group">
                                    <label for="cvCode">CV CODE</label>
                                    <input type="password" class="form-control" name="cvCode" placeholder="CV" required data-stripe="cvc" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="couponCode">COUPON CODE</label>
                                    <input type="text" class="form-control" name="couponCode" />
                                </div>
                            </div>                        
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn btn-success btn-lg btn-block" type="submit">Place Order</button>
                            </div>
                        </div>
                        <div class="row" style="display:none;">
                            <div class="col-xs-12">
                                <p class="payment-errors"></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
                            
                            
                            
                            
                            
                            
                            
                            
                        </div>
                    
                    
                    </div>
                    </fieldset>
                </section>
        </div>
      
       
       
                
</div>