<div class="container">
    <hr>
    <div class="row">
            <div class="col-md-3 boxComplejo"> 
                <section class="widget2 boxComplejo">
                    <div class="row">
                     <header>
                        <h3 class="fa fa-user titul">Cancha 1</h3>
                         <h4 class="fa fa-user titul">Complejo: <a ui-sref="Clientes.verComplejo">Todo Futbol</a></h4>
                     </header>
                      <!--<div class="imgMiniatura">
                            <img src="images/complejos/complejo1.jpeg" alt="">
                      <div>-->
                          
                      <ul class="liSeparados">
                          <li>
                        <b>Provincia:</b> <label>Buenos Aires</label>
                          </li>
                          <li>
                            <b>Localidad:</b> <label>Lomas de Zamora</label>  
                          </li>
                          <li>
                            <b>Direccion:</b> <label>Laprida 950</label>  
                          </li>
                          <li>
                           <b>Teléfono:</b> <label>4-244-1933</label>  
                          </li>
                          <li class="glyphicon glyphicon-time">
                            <label class="letraHorarios">L a V - 12hs - 18hs.</label>
                          </li>
                          <!--<li class="glyphicon glyphicon-time">
                            <label class="letraHorarios">S a D - 16hs - 22:30hs.</label>
                          </li>-->
                      </ul>
                    </div>   
                    
                    <div>
                        <!--<button class="btn btn-success center-block" id="btnReservarCancha" data-target="#reservasModal">RESERVAR</button>-->
                        <a id="btnReservarCancha" href="VerCancha/#reservasModal" data-toggle="modal" class="btn btn-success center-block" style="border-radius: 7px;" role="button">RESERVAR</a>
                        
                        
                        
                    </div>
                </section>
          </div>
       

       <div class="col-md-6">
       
           <div class="col-md-6 carousel-container anchoCarousel ">
              <div id="carouselComplejos" class="carousel slide carousel-fade">
                <!-- Carousel items -->
                <div class="carousel-inner anchoCarousel">
                      <div data-slide-no="0" class="item carousel-item active">
                        <img src="/../resergol1.1/images/complejos/complejo1.jpeg" alt="">
                        <div class="carousel-caption">
                        </div>
                      </div>
                      <div data-slide-no="1" class="item carousel-item">
                        <img src="/../resergol1.1/images/complejos/complejo2.jpg" alt="">
                        <div class="carousel-caption">
                        </div>
                      </div>
                      <div data-slide-no="2" class="item carousel-item">
                        <img src="/../resergol1.1/images/complejos/complejo3.jpg" alt="">
                        <div class="carousel-caption">
                        </div>
                      </div>
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#carouselComplejos" data-slide="prev">‹</a>
                <a class="carousel-control right" href="#carouselComplejos" data-slide="next">›</a>
               </div>
            </div>
        </div> 
       
       <div class="col-md-3"> 
           <section class="widget2 boxInfoCancha">
                  <div class="row">
                      <div class="col-md-12">
                          <ul>
                            <li>
                                <b>Tamaño:</b> <label>6 (12 jugadores)</label>
                            </li>
                            <li>
                                <b>Superficie:</b> <label>Pasto sintético</label>
                            </li>
                            <li>
                                <b>Techada:</b> <label>NO</label>
                            </li>
                            <li>
                                <b>Luz:</b> <label>SI</label>
                            </li>
                            <li>
                                <b>Precio por hora:</b> <label>$380</label>
                                <label class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="Tanto el precio como la seña que se indican no incluyen luz." ></label>
                            </li>
                            <li>
                                <b>Seña requerida:</b> <label>$80</label>
                            </li>  
                          </ul>
                      </div>
                  </div>
              </section>
            
           <section class="widget2 boxServAdicionales">
                <div class="panel-heading" ><h4>Servicios adicionales</h4></div>
                  <div class="row">
                      <div class="col-md-6">
                        <label>Buffet </label><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  
                      </div>
                      <div class="col-md-6">
                        <label>Parrilla </label><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>  
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                        <label>Duchas </label><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  
                      </div>
                      <div class="col-md-6">
                        <label>Wifi</label><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>  
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-8">
                        <label>Estacionamiento</label><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  
                      </div>
                  </div>   
            </section>
           
    </div>
                
</div>