
<!--main-->
<div class="container">
    
   <div class="row">

       <!--<div class="col-md-3"> 
            <section class="widget">
   			      <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item"><b>Provincia:</b> Buenos Aires</li>
                        <li class="list-group-item"><b>Localidad:</b> Lomas de Zamora</li>
                        <li class="list-group-item"><b>Dirección:</b> Laprida 954</li>
                        <li class="list-group-item"><b>Teléfono:</b> 4-244-1552</li>
                        <li class="list-group-item glyphicon glyphicon-time">
                            <label class="letraHorarios">L a V - 12hs - 18hs.</label>
                        </li> 
                    </ul>
                  </div>
           </section>
           
           
          </div>-->
       
            <div class="col-md-3 boxComplejo"> 
            <section class="widget boxComplejo">
                    <div class="row">
                     <header>
                        <h3 class="fa fa-user titul">-Todo Fúbol-</h3>
                     </header>
                      <!--<div class="imgMiniatura">
                            <img src="images/complejos/complejo1.jpeg" alt="">
                      <div>-->
                          
                      <ul class="liSeparados">
                          <li>
                        <b>Provincia:</b> <label>Buenos Aires</label>
                          </li>
                          <li>
                            <b>Localidad:</b> <label>Lomas de Zamora</label>  
                          </li>
                          <li>
                            <b>Direccion:</b> <label>Laprida 950</label>  
                          </li>
                          <li>
                           <b>Teléfono:</b> <label>4-244-1933</label>  
                          </li>
                          <li>
                            <b>Cantidad de canchas:</b> <label>4</label>
                          </li>
                          <li class="glyphicon glyphicon-time">
                            <label class="letraHorarios">L a V - 12hs - 18hs.</label>
                          </li>
                      
                      </ul>    
                        
                    </div>   
                       <div>
                        <!--<button class="btn btn-success center-block" id="btnReservarCancha" data-target="#reservasModal">RESERVAR</button>-->
                        <a id="btnVerCanchasComplejo" onclick="$('html,body').animate({scrollTop:1000},'slow');return false;" class="btn btn-success center-block" style="border-radius: 7px;" role="button">VER CANCHAS</a>
                    </div>
           
           </section>
           
           
          </div>
       
       
       <div class="col-md-6">
       
           <div class="col-md-6 carousel-container anchoCarousel ">
          <div id="carouselComplejos" class="carousel slide carousel-fade">
            <!-- Carousel items -->
            <div class="carousel-inner anchoCarousel">
              <div data-slide-no="0" class="item carousel-item active">
                <img src="/../resergol1.1/images/complejos/complejo1.jpeg" alt="">
                <div class="carousel-caption">
                </div>
              </div>
              <div data-slide-no="1" class="item carousel-item">
                <img src="/../resergol1.1/images/complejos/complejo2.jpg" alt="">
                <div class="carousel-caption">
                </div>
              </div>
              <div data-slide-no="2" class="item carousel-item">
                <img src="/../resergol1.1/images/complejos/complejo3.jpg" alt="">
                <div class="carousel-caption">
                </div>
              </div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" ui-sref="VerComplejo" href="#carouselComplejos" data-slide="prev">‹</a>
            <a class="carousel-control right" ui-sref="VerComplejo" href="#carouselComplejos" data-slide="next">›</a>
          </div>
        
       
       </div>
           
       
    </div> 
       
       <div class="col-md-3"> 
           
           <section class="widget2">
   			      <div class="panel-body">
                  <div class="row">
                      <div class="col-md-12">
                        <header>
                                <h4><i class="fa fa-user"></i>Acerca de "Todo Fúbol"</h4>
                        </header>
                      <p>Contamos con 4 canchas, un gran buffet, y baños de primera calidad!</p>
                      </div>
                  </div>
                  </div>
               </section>
            
           
           
           <section class="widget2 boxServAdicionales">
                <div class="panel-heading" ><h4>Servicios adicionales</h4></div>
                  <div class="row">
                      <div class="col-md-6">
                        <label>Buffet </label><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  
                      </div>
                      <div class="col-md-6">
                        <label>Parrilla </label><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>  
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                        <label>Duchas </label><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  
                      </div>
                      <div class="col-md-6">
                        <label>Wifi</label><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>  
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-8">
                        <label>Estacionamiento</label><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  
                      </div>
                  </div>   
            </section>


                   
                  </div>
           
           
          </div>
        
         <div class="widget2">
            <div class="row">
                      <div class="col-md-2">
                          <h5>¡Votá al complejo!:</h5>
                      </div>
                      <div class="col-md-2">
                        <div class="botonesPuntuacion">
                            <button class="btn btn-success" id="cinco">"Una fantasía"</button>
                        </div>
                          <br2>
                      </div>
                      <div class="col-md-2">
                        <div class="botonesPuntuacion">
                            <button class="btn btn-primary" id="cuatro">"Muy buena!"</button>
                        </div>
                          <br2>
                      </div>
                      <div class="col-md-2">
                        <div class="botonesPuntuacion">
                            <button class="btn btn-info" id="tres">"Mas o menos"</button>
                        </div>
                          <br2>
                      </div>
                      <div class="col-md-2">
                        <div class="botonesPuntuacion">
                            <button class="btn btn-warning" id="dos">"No me gustan"</button>
                        </div>
                          <br2>
                      </div>
                      <div class="col-md-2">
                        <div class="botonesPuntuacion">
                            <button class="btn btn-danger" id="uno">"Las peores canchas"</button>
                        </div>
                      </div>
                          </div>
        </div>
            
         <div class="row">
           
             <div class="col-md-3">
              <div class="widget">
                <h4 class="fa fa-user titul">Ubicación</h4>
                <div class="boxMapa">
                    <div id="map-containerIvan"></div>
                </div>
              </div>
             </div>
             
     <div class="col-md-6">
     <div class="detailBox">
    <div class="titleBox">
      <label>Comentarios</label>
    </div>
    <div class="commentBox">
        
        <p class="taskDescription">Mirá lo que opina la gente acerca de "Todo Fútbol"</p>
    </div>
    <div class="actionBox">
        <ul class="commentList">
            <li>
                <div class="commentText">
                    <p style="color:gray">Pedro77:  </p>
                    <p class="">Voy siempre, aguante las canchas de Laprida!</p> <span class="date sub-text">3 de Marzo, 2015</span>

                </div>
            </li>
            <li>
                <div class="commentText">
                    <p style="color:gray">Maty1992:  </p>
                    <p class="">Muy buenas canchas, excelente para ir a jugar con amigos!</p> <span class="date sub-text">10 de Mayo, 2015</span>

                </div>
            </li>
            <li>
                <div class="commentText">
                    <p style="color:gray">IvanTaladro:  </p>
                    <p class="">Excelente! lo mejor de zona sur!</p> <span class="date sub-text">2 de Octubre, 2015</span>

                </div>
            </li>
        </ul>
        <form class="form-inline" role="form">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Agregar comentario" />
            </div>
            <div class="form-group">
                <button class="btn btn-default">Comentar</button>
            </div>
        </form>
    </div>
</div>
                  
             </div>
             
        
         </div>
         

        
        
        
        

       
       
    
    <!--NUEVO><-->
    <div class="container col-md-12">
	<div class="row">
		<h2>Nuestras canchas</h2>
        <p><b>Importante: El precio indicado por cada cancha, es el precio base (no incluye luz).</p>
        <p>Seleccioná la cancha que desees ver más en detalle.</b></p>
	</div>
    <div class="row">
    	<div class="col-lg-3">
    				<div class="cuadro_intro_hover " style="background-color:#cccccc;">
						<p>
							<img src="/../resergol1.1/images/canchas/cancha1.jpg" class="img-responsive" alt="">
						</p>
						<div class="caption">
							<div class="blur"></div>
							<div class="caption-text">
								<h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">CANCHA 1</h3>
								<ul>
                                    <li>Cant. Jugadores: 5</li>
                                    <li>Superficie: Baldosa</li>
                                    <li>Techada: No </li>
                                    <li>Luz: Si</li>
                                    <li>Precio p/Hora: $380</li>
                                </ul>
								<a class=" btn btn-default" ui-sref="Clientes.verCancha" onclick="$('html,body').animate({scrollTop:0},'fast');return false;"><span class="glyphicon glyphicon-plus"><label>VER</label></span></a>
							</div>
						</div>
					</div>
				
	    </div>
        <div class="col-lg-3">
        			<div class="cuadro_intro_hover " style="background-color:#cccccc;">
						<p>
							<img src="/../resergol1.1/images/canchas/cancha2.jpg" class="img-responsive" alt="">
						</p>
						<div class="caption">
							<div class="blur"></div>
							<div class="caption-text">
								<h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">CANCHA 2</h3>
								<ul>
                                    <li>Cant. Jugadores: 7</li>
                                    <li>Superficie: Pasto</li>
                                    <li>Techada: No </li>
                                    <li>Luz: Si</li>
                                    <li>Precio p/Hora: $600</li>
                                </ul>
								<a class=" btn btn-default" ui-sref="Clientes.verCancha" onclick="$('html,body').animate({scrollTop:0},'fast');return false;"><span class="glyphicon glyphicon-plus"><label>VER</label></span></a>
							</div>
						</div>
					</div>
				
	    </div>
        <div class="col-lg-3">
        			<div class="cuadro_intro_hover " style="background-color:#cccccc;">
						<p>
							<img src="/../resergol1.1/images/canchas/cancha3.jpg" class="img-responsive" alt="">
						</p>
						<div class="caption">
							<div class="blur"></div>
							<div class="caption-text">
								<h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">CANCHA 3</h3>
								<ul>
                                    <li>Cant. Jugadores: 6</li>
                                    <li>Superficie: Cerámica</li>
                                    <li>Techada: Si </li>
                                    <li>Luz: Si</li>
                                    <li>Precio p/Hora: $450</li>
                                </ul>
								<a class=" btn btn-default" ui-sref="Clientes.verCancha" onclick="$('html,body').animate({scrollTop:0},'fast');return false;"><span class="glyphicon glyphicon-plus"><label>VER</label></span></a>
							</div>
						</div>
					</div>
				
	    </div>
        <div class="col-lg-3">
        			<div class="cuadro_intro_hover " style="background-color:#cccccc;">
						<p>
							<img src="/../resergol1.1/images/canchas/cancha4.jpg" class="img-responsive" alt="">
						</p>
						<div class="caption">
							<div class="blur"></div>
							<div class="caption-text">
								<h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">CANCHA 4</h3>
								<ul>
                                    <li>Cant. Jugadores: 11</li>
                                    <li>Superficie: Pasto</li>
                                    <li>Techada: No </li>
                                    <li>Luz: Si</li>
                                    <li>Precio p/Hora: $700</li>
                                </ul>
								<a class=" btn btn-default" ui-sref="Clientes.verCancha" onclick="$('html,body').animate({scrollTop:0},'fast');return false;"><span class="glyphicon glyphicon-plus"><label>VER</label></span></a>
							</div>
						</div>
					</div>
				
	    </div>
    </div>
</div>

    <div class="clearfix"></div>

    <hr>
  </div>
</div><!--/main-->
             
             

        
                   

        
