
  
<div class="container" ng-controller="VerCanchaController as can">
    <div class="row" ng-repeat="canc in cancha">
            <div class="col-md-3 boxComplejo"> 
                <section class="widget2 boxComplejo">
                    <div class="row">
                     <header>
                        <h3 class="fa fa-user titul">{{canc.nombre}}</h3>
                         <h4 class="fa fa-user titul">Complejo: <a ui-sref="Clientes.verComplejo">{{canc.Complejo}}</a></h4>
                     </header>
                      <!--<div class="imgMiniatura">
                            <img src="images/complejos/complejo1.jpeg" alt="">
                      <div>--> 
                      <ul class="liSeparados">
                          <li>
                        <b>Provincia:</b> <label>{{canc.Provincia}}</label>
                          </li>
                          <li>
                            <b>Localidad:</b> <label>{{canc.Localidad}}</label>  
                          </li>
                          <li>
                            <b>Direccion:</b> <label>{{canc.Calle}} {{canc.Altura}}</label>  
                          </li>
                          <li>
                           <b>Tel.:</b> <label>{{canc.nroTelefono}} {{canc.nroCelular}}</label>  
                          </li>
                          <li class="glyphicon glyphicon-time" uib-popover-html="DiasYHorariosTooltip" popover-placement="right" popover-trigger="mouseenter">
                          </li>
                          <!--<li>
                           <label class="glyphicon glyphicon-time" data-html="true" data-toggle="tooltip" data-placement="right" 
                                  title="{{tooltipDiasComplejo}}">
                           </label>
                          </li>-->
                          
                          
                          <!--<li class="glyphicon glyphicon-time">
                            <label class="letraHorarios">S a D - 16hs - 22:30hs.</label>
                          </li>-->
                      </ul>
                    </div>   
                    
                    <div>
                        <a id="btnReservarCancha" ng-disabled="!can.estaLogueado" ng-click="!can.estaLogueado || can.mostrarReservar()"  data-toggle="modal" class="btn btn-success center-block" style="border-radius: 7px;" role="button">RESERVAR</a>
                    </div>
                </section>
          </div>
       

       <div class="col-md-6">
       
           <div class="col-md-6 carousel-container anchoCarousel ">
              <div id="carouselCanchas" class="carousel slide carousel-fade">
                <!-- Carousel items -->
                <div class="carousel-inner anchoCarousel">
                      <div data-slide-no="0" class="item carousel-item active">
                        <img src="/../resergol1.1/images/complejos/complejo1.jpeg" alt="">
                        <div class="carousel-caption">
                        </div>
                      </div>
                      <div data-slide-no="1" class="item carousel-item">
                        <img src="/../resergol1.1/images/complejos/complejo2.jpg" alt="">
                        <div class="carousel-caption">
                        </div>
                      </div>
                      <div data-slide-no="2" class="item carousel-item">
                        <img src="/../resergol1.1/images/complejos/complejo3.jpg" alt="">
                        <div class="carousel-caption">
                        </div>
                      </div>
                </div>
                <!-- Carousel nav -->
                <!--<a class="carousel-control left"  ui-sref="Clientes.verCancha" href="#carouselComplejos" data-slide="prev">‹</a>
                <a class="carousel-control right" ui-sref="Clientes.verCancha"  href="#carouselComplejos" data-slide="next">›</a>-->
                 <a class="carousel-control left" href="#carouselCanchas" data-slide="prev">‹</a>
                <a class="carousel-control right" href="#carouselCanchas" data-slide="next">›</a>  
               </div>
            </div>
        </div> 
       
       <div class="col-md-3"> 
           <section class="widget2 boxInfoCancha">
                  <div class="row">
                      <div class="col-md-12">
                          <ul>
                            <li> 
                                <b>Tamaño:</b> <label>{{canc.CantJugadores}} ({{canc.CantJugadores * 2}} jugadores)</label>
                            </li>
                            <li>
                                <b>Superficie:</b> <label>{{canc.Superficie}}</label>
                            </li>
                            <li>
                                <b>Techada:</b> <label>{{canc.Techada == 1 ? "SI" : "NO"}}</label>
                            </li>
                            <li>
                                <b>Luz:</b> <label>{{canc.Luz == 1 ? "SI" : "NO"}}</label>
                            </li>
                            <li>
                                <b>Precio P/Hora:</b> <label>${{canc.Precio}}</label>
                                <label class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="Tanto el precio como la seña que se indican no incluyen luz." ></label>
                            </li>
                            <li>
                                <b>Seña mínima:</b> <label>${{canc.Precio * canc.PorcentSenia / 100}} ({{canc.PorcentSenia}}%) </label>
                            </li>  
                          </ul>
                      </div>
                  </div>
              </section>
            
           <section class="widget2 boxServAdicionales">
                <div class="panel-heading" ><h4>Servicios adicionales</h4></div>
                  <div class="row">
                      <div class="col-md-6">
                        <label>Buffet </label><span ng-class="{1:'glyphicon glyphicon-ok', 0:'glyphicon glyphicon-remove'}[canc.Buffet]" aria-hidden="true"></span>  
                          
                      </div>
                      <div class="col-md-6">
                        <label>Parrilla </label><span ng-class="{1:'glyphicon glyphicon-ok', 0:'glyphicon glyphicon-remove'}[canc.Parrillas]" aria-hidden="true"></span>  
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                        <label>Duchas </label><span ng-class="{1:'glyphicon glyphicon-ok', 0:'glyphicon glyphicon-remove'}[canc.Duchas]" aria-hidden="true"></span>  
                      </div>
                      <div class="col-md-6">
                        <label>Wifi</label><span ng-class="{1:'glyphicon glyphicon-ok', 0:'glyphicon glyphicon-remove'}[canc.WiFi]" aria-hidden="true"></span>  
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-8">
                        <label>Estacionamiento</label><span ng-class="{1:'glyphicon glyphicon-ok', 0:'glyphicon glyphicon-remove'}[canc.Estacionamiento]" aria-hidden="true"></span>  
                      </div>
                  </div>   
            </section>
           
    </div>
                
</div>

        <div class="widget2">
            <div class="row">
                      <!--<div class="col-md-2">
                          <h5>¡Votá la cancha!:</h5>
                      </div>-->
                      <div class="col-md-2 text-center">
                          <h6>Punt. Cancha </h6><h4><span class="label {{can.PuntajeClass}}">{{can.PuntajeDesc}}</span></h4>
                      </div>
                      <br>
                      <div class="col-md-2">
                        <div class="botonesPuntuacion">
                            <button class="btn btn-success" ng-click="can.puntuar(5) || !can.estaLogueado || can.seVoto5" ng-disabled="!can.estaLogueado || can.seVoto5" id="cinco">"Una fantasía"</button>
                        </div>
                          <br2>
                      </div>
                      <div class="col-md-2">
                        <div class="botonesPuntuacion">
                            <button class="btn btn-primary" ng-click="can.puntuar(4) || !can.estaLogueado || can.seVoto4" ng-disabled="!can.estaLogueado || can.seVoto4" id="cuatro">"Muy buena!"</button>
                        </div>
                          <br2>
                      </div>
                      <div class="col-md-2">
                        <div class="botonesPuntuacion">
                            <button class="btn btn-info" ng-click="can.puntuar(3) || !can.estaLogueado || can.seVoto3" ng-disabled="!can.estaLogueado || can.seVoto3" id="tres">"Mas o menos"</button>
                        </div>
                          <br2>
                      </div>
                      <div class="col-md-2">
                        <div class="botonesPuntuacion">
                            <button class="btn btn-warning" ng-click="can.puntuar(2) || !can.estaLogueado || can.seVoto2" ng-disabled="!can.estaLogueado || can.seVoto2" id="dos">"No me gustan"</button>
                        </div>
                          <br2>
                      </div>
                      <div class="col-md-2">
                        <div class="botonesPuntuacion">
                            <button class="btn btn-danger" ng-click="can.puntuar(1) || !can.estaLogueado || can.seVoto1" ng-disabled="!can.estaLogueado || can.seVoto1" id="uno">"Muy mala"</button>
                        </div>
                      </div>
                          </div>
        </div>
         <div class="row">
             <div class="col-md-3">
              <div class="widget">
                <h4 class="fa fa-user titul">Ubicación</h4>
                <div class="boxMapa">
                    <div id="map-containerIvan"></div>
                </div>
              </div>
             </div>
             
         <div class="col-md-9">
         <div class="detailBox">
        <div class="titleBox">
          <label>Comentarios</label>
        </div>
        <div class="commentBox">

            <p class="taskDescription">Lo que opina la gente acerca de la cancha "{{cancha[0].nombre}}" de "{{cancha[0].Complejo}}"</p>
        </div>
        <div class="actionBox">
            <ul class="commentList">
                <li ng-repeat="comm in ComentariosCancha">
                    <div class="commentText">
                        <p style="color:gray">{{comm.Usuario}}:  </p>
                        <p class="">{{comm.Comentario}}</p> <span class="date sub-text">{{comm.Fecha}}</span>

                    </div>
                </li>
            </ul>
            <form class="form-inline" name="algo" id="algo" role="form">
                <div class="form-group">
                    <input class="form-control" id="txtComentar" ng-maxlength="100" ng-model="can.comment" ng-disabled="!can.estaLogueado" type="text" placeholder="Agregar comentario" />
                </div>
                <div class="form-group">
                    <button class="btn btn-default" id="btnComentar" ng-click="can.comentar() || !can.estaLogueado" ng-disabled="!can.estaLogueado || !algo.$valid">Comentar</button>
                </div>
            </form>
        </div>
    </div>

    </div>
      
             
</div>
             
           
                          
           <!--<div><h4 class="text-center" data-ng-show="$state.includes('Clientes.verCancha.Reservar')">Tenés {{counter}} segundos para realizar la reserva...</h4></div>-->
           <div><h4 class="text-center" data-ng-show="$state.current.name == 'Clientes.verCancha.Reservar'">Tenés {{counter}} segundos para realizar la reserva...</h4></div>
         </div>
                          
                         
    <div class="container" ui-view></div>
       
 
                
 </div> <!--Cierra DIV Container-->
                
                
               

<!--reservas modal-->
          <div id="reservasModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-registracion">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        
                        <div class="modal-body">
                            
                            <div class = 'form-horizontal well'>
                              <fieldset>
                               <legend>¿A qué hora querés jugar?</legend>
                                <div class="control-group">
                                    
                                  <form class="form center-block">
                                      
                                
                                               <div class='input-group date'>
                                <input type='text'  class="form-control" id="fecha" style="height:31px;"/>
                                <span class="input-group-addon"  style="height:30px;"  id="fecha2" onclick="mostrarCalendario2()" >
                                <span class="glyphicon glyphicon-calendar"  ></span>
                                </span>
                                      </div>                                                   
                                             
                                             
                                      <div class="col-md-4"> 
                                           <div class="form-group">
                                               
                                              <label class="control-label">Cancha:</label>
                                              <br>
                                              <label class="control-label">Precio</label>
                                              <br>
                                              <label class="control-label">Cant. de jugadores:</label>
                                              <br>
                                              <label class="control-label">Superficie:</label>
                                           </div>
                                      </div>
                                  <div class="col-md-8">
                                      <div class="form-group">
                                          <label class="control-label">Maracana</label>
                                          <br>
                                          <label class="control-label">$ 300</label>
                                          <br>
                                          <label class="control-label">5</label>
                                          <br>
                                          <label class="control-label">Cesped</label>
                                      </div>
                                   </div>    
                                </fieldset>
                              </div>
                          <div class = 'form-horizontal well'>
                              <fieldset>
                                  <legend>Datos de la reserva</legend>    
                                       <div class="control-group">
                                          <form class="form center-block">
                                              <div class="col-md-2">    
                                                  <div class="form-group" style= "margin-top:8px;">
                                                      <label >Ususario:</label>
                                                  </div>
                                                  <div class="form-group" style= "margin-top:22px;">
                                                          <label >Horario:</label>
                                                  </div>
                                                  <div class="form-group" style= "margin-top:26px;">
                                                      <label >Seña:</label>
                                                  </div>
                                                    <div class="form-group" style= "margin-top:22px;">
                                                      <label>Resta:</label>
                                                  </div>
                                              </div>
                                              <div class="col-md-10">
                                                  <div class="form-group">
                                                      <input type="text" id="usuario" class="form-control input-md" placeholder="Cliente">
                                                  </div> 
                                                  <div class="form-group">
                                                       <label for="sel2"  class="fontMasChica" style= "margin-left: 2px;" >Desde:</label>
                                                          <SELECT NAME="cboHoraInicial" > 
                                                          <OPTION>8 Hs</OPTION>
                                                          <OPTION>9 Hs</OPTION>
                                                          <OPTION>10 Hs</OPTION>
                                                          <OPTION>11 Hs</OPTION> 
                                                          <OPTION>12 Hs</OPTION> 
                                                          <OPTION>13 Hs</OPTION> 
                                                          <OPTION>14 Hs</OPTION> 
                                                          <OPTION>15 Hs</OPTION>
                                                          <OPTION>16 Hs</OPTION> 
                                                          <OPTION>17 Hs</OPTION> 
                                                          <OPTION>18 Hs</OPTION> 
                                                          <OPTION>19 Hs</OPTION> 
                                                          <OPTION>19 Hs</OPTION> 
                                                          <OPTION>20 Hs</OPTION> 
                                                          <OPTION>21 Hs</OPTION> 
                                                          <OPTION>22 Hs</OPTION> 
                                                          <OPTION>23 Hs</OPTION> 
                                                      </SELECT> 
                                                     
                                                          <label for="sel2" class="fontMasChica" style= "margin-left: 50px; " > Hasta:</label>
                                                          <SELECT NAME="cboHoraFin" SIZE=1 > 
                                                          <OPTION>8 Hs</OPTION>
                                                          <OPTION>9 Hs</OPTION>
                                                          <OPTION>10 Hs</OPTION>
                                                          <OPTION>11 Hs</OPTION> 
                                                          <OPTION>12 Hs</OPTION> 
                                                          <OPTION>13 Hs</OPTION> 
                                                          <OPTION>14 Hs</OPTION> 
                                                          <OPTION>15 Hs</OPTION>
                                                          <OPTION>16 Hs</OPTION> 
                                                          <OPTION>17 Hs</OPTION> 
                                                          <OPTION>18 Hs</OPTION> 
                                                          <OPTION>19 Hs</OPTION> 
                                                          <OPTION>19 Hs</OPTION> 
                                                          <OPTION>20 Hs</OPTION> 
                                                          <OPTION>21 Hs</OPTION> 
                                                          <OPTION>22 Hs</OPTION> 
                                                          <OPTION  selected="selected">23</OPTION> 
                                                      </SELECT> 
                                                  </div> 
                                                  <div class ="principal row" style= "margin-top:0px;">
                                                      <input type="text" id="seña" class="form-control input-md" placeholder="$ 150">
                                                  </div>
                                                  <div class="form-group" style= "margin-top:8px;">
                                                      <input type="text" id="resta" class="form-control input-md" placeholder="$ 150">
                                                  </div> 
                                              </div>    
                              </fieldset>
                                           
                                          </div>
                                  
                              <fieldset>
                                  <div class="form-group">
                                     <div class="col-md-4"> 
                                          <div class="form-group">
                                              <button class="btn  btn-md btn-danger btn-block" style="border-radius: 7px;">Cancelar</button>   
                                          </div>
                                      </div>
                                      
                                      <div class="col-md-4"> 
                                          <div class="form-group">
                                              <button class="btn  btn-md btn-warning btn-block" style="border-radius: 7px;">Reserva Fija</button>
                                          </div>
                                      </div>
                                      
                                      <div class="col-md-4"> 
                                          <div class="form-group">
                                              <button class="btn  btn-md btn-success btn-block" style="border-radius: 7px;">Completar pago</button>
                                          </div>
                                      </div>
                                  </div>
                              </fieldset>
                              
                              <fieldset>
                                  <div class="form-group">
                                     <div class="col-md-12"> 
                                          <div class="form-group">
                                              <button class="btn  btn-md btn-primary btn-block" style="border-radius: 7px;">Reservar</button>
                                          </div>
                                      </div>
                              </fieldset>
                              
                              </fieldset> 
                              </div>
                                                </form>
                            </div>
                    </div>
                </div>
            </div>
    
    
    
    

<hr>
        